

 /* map btns */
 .advertisement-map
 {
   position: relative;
   top: -25px;
 }
 .advertisement-map > button
 {
   position: absolute;
   top: 43px;
   z-index: 1;
   left: 132px;
   background: #6edd19;
   border: 0;
 }
 .advertisement-map > button:hover
 {
   background: #57c304;
   border: 0;
 }
 @media (max-width: 768px) {
   .advertisement-map > button
   {
     top: 16px;
     left: 160px;
   }
 }
 
 

/* autocomplate */
p-autoComplete
{
  position: relative;
  top: 43px;
  z-index: 1;
  left: calc(50% - 125px);
}

/* autoComplete input and btn */
p-autoComplete ::ng-deep .ui-button-text.ui-clickable
{
    height: 27px !important;
}
p-autoComplete ::ng-deep .ui-autocomplete-dropdown 
{
    background: #6edd19 !important;
    border-color: #6edd19 !important;
    margin-left: -38px;
    border-radius: 0px 22px 22px 0px;
    padding: 0px 37px 1px 0;
    margin-top: 0px;
}
p-autoComplete ::ng-deep .ui-autocomplete-dropdown:hover 
{
    background: #57c304 !important;
    /* border-color: #57c304 !important;  */
    border: 0
}
p-autoComplete ::ng-deep .ui-inputtext
{
  width: 250px;
}
p-autoComplete ::ng-deep .ui-inputtext:focus
{
    box-shadow: 0 0 5px #6edd19 !important;
} 
p-autoComplete ::ng-deep .ui-state-highlight
{
    background: #57c304 !important;
}


/* color country name */
p-autoComplete ::ng-deep .ui-autocomplete-list-item
{
    color: #6edd19;
}
p-autoComplete ::ng-deep .ui-state-highlight
{
    color: #fff !important;
}
p-autoComplete ::ng-deep .ui-autocomplete-list-item div
{
    -webkit-transition: padding 0.5s  ease;
    -moz-transition: padding 0.5s  ease;
    -o-transition: padding 0.5s  ease;
    transition: padding 0.5s  ease;
}
p-autoComplete ::ng-deep .ui-state-highlight div
{
    padding-right: 7px;
}


/* input  */
p-autoComplete ::ng-deep .ui-inputtext
{
    padding: 5px;
    padding-left: 15px;
    border-radius: 22px;
    border-top-right-radius: 22px !important;
    border-bottom-right-radius: 22px !important;
    border: 0;
}




/* btn */
button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}
.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
  }
  
  .login100-form-btn {
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
  
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #6edd19;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .login100-form-btn:hover {
    background: #57c304;
  }
  