
/* overlay */
.overlay-posts
{
    height: 380px;
    position: fixed;
    z-index: 100;
    top: 50px;
    background: #222d32;
    padding-top: 40px;
    padding-bottom: 25px;
    border-radius: 7px;
}
.overlay-posts .users-content-item
{
    overflow: auto;
    /* overlay-posts height - padding(top+bottom) */
    max-height: calc(380px - 35px - 25px); 
}
.overlay-posts .fa-close
{
    position: absolute;
    right: 16px;
    top: 8px;
    color: #DDD;
    cursor: pointer;
    font-size: 18px;
}

.overlay-posts .name-and-image
{
    margin-top: 7px;
    margin-bottom: 7px;
}
.overlay-posts .name-and-image .name 
{
    margin-left: -25px;
}

.overlay-posts .name-and-image .name p
{
    color: #DDD;
    margin-top: 7px;
}


/* slider brn color */
::ng-deep .slider-pro-stroy 
{
    margin: auto;
}
::ng-deep .overlay-posts  .sp-selected-button {
    background-color: #6edd19;
}
::ng-deep .overlay-posts  .sp-button {
    width: 12px;
    height: 12px;
    border: 2px solid #6edd19;
}
::ng-deep .overlay-posts .sp-slide .fa-trash
{
    right: 9px;
    font-size: 20px;
    top: 13px;
    color: red;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    position: absolute;
    z-index: 2;
}

