<!-- images -->
<div class="row" *ngIf="displayImages">
  <div class="col-md-5 overlay-posts col-md-offset-2" >

      <i (click)='displayImages = false' class="fa fa-close"></i>

      <div class="story-images" >
          <div class="sp-slides">
  
              <div class="sp-slide" *ngFor="let img of imagesData">
                  <img
                      onError="this.src='/assets/images/no-image.png'" 
                      style="max-width: 500px; max-height: 300px" class="sp-image" src="{{ img }}"/>
              </div>

          </div>
      </div>

  </div>
</div>
      