
/* show users grid or list */
.user-detail-grid
{
    padding-top: 10px;
}

.ui-widget-content
{
    margin: 10px 0
}

.view-users-user-list img.img-thumbnail
{
    width: 150px;
    border-radius: 50%;
    height: 150px;
    border: 2px solid #6edd19;
    padding: 3px;
}
.view-users-user-list .item .fa
{
    font-size: 18px;
    color : #6edd19;
    width: 30px;
    text-align: center;
}
.view-users-user-list .item .fa-circle
{
    font-size: 13px;
}

.view-users-user-list .item,
.view-users-user-grid p
{
    color: #696666 !important;
}
.view-users-user-list .item strong
{
    margin-right: 10px;
    letter-spacing: 0.5px;
    /* width: 70px; */
    display: inline-block;
}

.view-users-user-grid img.img-thumbnail
{
    width: 100px;
    border-radius: 50%;
    height: 100px;
    border: 2px solid #6edd19;
    padding: 3px;
}
.view-users-user-list .ui-button:hover,
.view-users-user-grid .ui-button:hover
{
    background: #57c304 !important;
    border-color: #57c304;
}

/* view user icon (in right) */
::ng-deep  .view-users-user-list .view-user-click-icon .ui-button,
::ng-deep  .view-users-user-grid .view-user-click-icon .ui-button
{
    background: #6edd19;
    border-color: #6edd19;
    height: 33px;
    width: 39px;
}
::ng-deep .view-user-click-icon .fa-user
{
    font-size: 22px !important;
}




/* search users */
.view-user-search .ui-inputtext,
.view-user-search .ui-inputgroup .ui-inputtext:not(:last-child)
{
    padding: 9px;
    border-radius: 22px;
    width: 230px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    padding-left: 15px;
    border: 0;
}
.view-user-search .ui-inputtext:focus,
.view-user-search .ui-inputgroup .ui-inputtext:not(:last-child):focus
{
    box-shadow: 0 0 5px #6edd19;
}
.view-user-search .ui-button.ui-widget 
{
    padding: 7px;
    border-radius: 0 22px 22px 0px;
    padding-right: 30px;
    margin-left: -37px;
    border: 0px solid #d6d6d6;
}
/* search */
.view-user-search .ui-button.ui-widget[icon=fa-search]
{
    background: #6edd19;
}
.view-user-search .ui-button.ui-widget[icon=fa-search]:hover
{
    background: #57c304 !important;
    border: 0
}
/* close */
.view-user-search .ui-button.ui-widget[icon=fa-close]
{
    background: red;
}
.view-user-search .ui-button.ui-widget[icon=fa-close]:hover
{
    background: #d41414 !important;
}



/* paginator */
::ng-deep .view-user-view-data .ui-paginator.ui-paginator .fa
{
    color: #6edd19
}
::ng-deep .view-user-view-data .ui-paginator.ui-paginator .fa-caret-down
{
    color: #fff;
    margin-top: 5px;
}
::ng-deep .view-user-view-data .ui-paginator .ui-corner-right
{
    background: #6edd19 ;
    border: 0
}
::ng-deep .view-user-view-data  .ui-paginator .ui-corner-right:hover
{
    background: #57c304 !important;
    border: 0
}
/* change rows length */
::ng-deep .view-user-view-data .ui-paginator .ui-dropdown-items.ui-dropdown-list .ui-corner-all,
::ng-deep .view-user-view-data .ui-paginator label.ui-dropdown-label
{
    color: #6edd19 ;
    -webkit-transition: all 0.5s  ease;
    -moz-transition: all 0.5s  ease;
    -o-transition: all 0.5s  ease;
    transition: all 0.5s  ease;
}
::ng-deep .view-user-view-data .ui-paginator .ui-dropdown-items.ui-dropdown-list .ui-corner-all:hover
{
    color: #6edd19 ;
    padding-left: 9px;
}
::ng-deep .view-user-view-data .ui-paginator .ui-corner-all.ui-state-highlight
{
    background: #6edd19;
    color: #FFF !important;
}
::ng-deep .view-user-view-data .ui-paginator .ui-dropdown.ui-state-focus
{
    box-shadow: 0 0 5px #6edd19 !important;
}
::ng-deep .view-user-view-data  .ui-paginator .ui-paginator-page.ui-state-active
{
    background: #6edd19;
    border-color: #6edd19 !important;
}
::ng-deep .view-user-view-data  .ui-paginator a {
    color: #6edd19;
    font-weight: 500;
}
::ng-deep .view-user-view-data  .ui-paginator a:not(.ui-state-active):hover {
    color: #6edd19 !important;
    font-weight: 500;
}
 



/* filter input */
::ng-deep  .view-user-filter *
{
    letter-spacing: 0.5px;
}
::ng-deep  .view-user-filter .ui-dropdown.ui-state-focus
{
    box-shadow: 0 0 5px #6edd19 !important;
}
::ng-deep .view-user-filter .ui-state-highlight
{
    background: #6edd19;
}

::ng-deep .view-user-filter .ui-dropdown,
::ng-deep .view-user-filter .ui-dropdown:hover
{
    padding: 6px;
    padding-left: 15px;
    border-radius: 22px;
    background: white !important;
    /* border-color: #d6d6d6 ;*/
    border: 0;
}
::ng-deep .view-user-filter .ui-dropdown-trigger.ui-state-default.ui-corner-right
{
    padding: 10px 28px 10px 10px;
    border-radius: 0px 22px 22px 0px;
    background: #6edd19;
    border: 0
}
::ng-deep .view-user-filter .ui-dropdown-trigger.ui-state-default.ui-corner-right:hover
{
    background: #57c304 !important;
    border: 0
}
::ng-deep .view-user-filter .ui-dropdown .ui-dropdown-trigger .fa {
    color: #fff;
}

::ng-deep .view-user-filter .ui-dropdown-item
{
    transition: all 0.5s  ease;
    -webkit-transition: all 0.5s  ease;;
    -moz-transition: all 0.5s  ease;;
    -o-transition: all 0.5s  ease;;
    transition: all 0.5s  ease;

    padding-top: 3px;
    padding-bottom: 3px; 
    padding-left: 7px;
    color: #57c304;
}

::ng-deep .view-user-filter .ui-dropdown-item:hover
{
    padding-left: 15px;
    color: #57c304 !important;
}
::ng-deep .view-user-filter .ui-dropdown-item.ui-state-highlight:hover,
::ng-deep .view-user-filter .ui-dropdown-item.ui-state-highlight
{
    color: #FFF !important;
}
::ng-deep .view-user-filter label.ui-dropdown-label
{
    color: #57c304 !important;
}


/* dataViewLayoutOptions */
::ng-deep .view-users-dataViewLayoutOptions .ui-state-default
{
    border: 0 !important;
}
::ng-deep .view-users-dataViewLayoutOptions .ui-state-default:not(.ui-state-active) i 
{
    color : #6edd19;
}
::ng-deep .view-users-dataViewLayoutOptions .ui-state-default.ui-state-active,
::ng-deep .view-users-dataViewLayoutOptions .ui-state-default.ui-state-active:hover
{
    background: #6edd19 !important;
}
::ng-deep .view-users-dataViewLayoutOptions .ui-state-default.ui-state-active:focus
{
    box-shadow: 0 0 5px #6edd19 !important;
}


