<div
    infiniteScroll
    [infiniteScrollDistance]="2" 
    [infiniteScrollUpDistance]="2" 
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
>
    
    <p-dataView 
        [value]="users" 
        [paginator]="false" 
        emptyMessage=''
    >
        <p-header>

            <div class="ui-helper-clearfix">
                <div class="ui-g">
                    
                    <div class="center-child-in-phone ui-g-12 ui-md-4 view-user-filter">
                        
                        <p-dropdown 
                            [options]="filterOptions"  
                            (onChange)="filterOnChange($event)" 
                            [autoWidth]="false" 
                            [style]="{'min-width':'15em'}"
                            [(ngModel)]="filterModel"
                            [disabled]='searchMode'
                            >
                        </p-dropdown>

                    </div>
                    
                    <div class="center-child-in-phone ui-g-12 ui-md-4 view-user-search">
                        <div class="ui-inputgroup">
                            <input type="text" pInputText placeholder="Search By Phone" [(ngModel)]="searchModel" (keyup)='searchKeyUp($event)' >
                            <button pButton type="button" icon="fa-search"  (click)="Search()" *ngIf='!searchMode' ></button>
                            
                            <button pButton type="button" icon="fa-close" (click)="closeSearch()"  *ngIf='searchMode' ></button>
                        </div>
                    </div>

                    <div class="center-child-in-phone view-users-dataViewLayoutOptions ui-g-12 ui-md-4" style="text-align:right">
                        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                    </div>

                </div>
            </div>
        </p-header>

        <ng-template let-user pTemplate="listItem">

            <div class="ui-g view-users-user-list"  style="padding: 2em;border-bottom: 1px solid #d9d9d9">
                
                <div class="ui-g-12 ui-md-3" style="text-align:center">
                    <img  
                    onError="this.src='/assets/images/no-image.png'" 
                    alt="profile image" class="img-thumbnail" src="{{
                        user.profileImage ? userUrl + '/' + user.profileImage : '/assets/images/no-user-image.png'
                    }}">
                </div>
                
                <div class="ui-g-12 ui-md-8">
                    <div class="ui-g">

                        <div class="ui-g-12 item">
                            <i class="fa fa-phone"></i>
                            <strong >
                                Mobile Number : 
                            </strong>
                            <span>
                                {{ user.mobileNumber }}
                            </span>
                        </div>

                        <div class="ui-g-12 item">
                            <i class="fa fa-user"></i>
                            <strong>
                                Name : 
                            </strong>
                            <span>
                                {{ user.firstName + ' ' + user.lastName}}
                            </span>
                        </div>
                        
                        <div class="ui-g-12 item">
                            <i class="fa fa-flag"></i>
                            <strong>
                                Country :
                            </strong>
                            <span>
                                {{ user.country }}
                            </span>
                        </div>

                        <div class="ui-g-12 item">
                            <i class="fa fa-circle"></i>
                            <strong>
                                Online :
                            </strong>
                            <span [ngStyle]="{color: user.online?'green' : 'red'}" >
                                {{ user.online ? 'Yes'  : "No" }}
                            </span>
                        </div>

                    </div>
                </div>

                <div class="center-child-in-phone ui-g-12 ui-md-1 view-user-click-icon">
                    <button tooltipPosition="top" pTooltip="View profile" pButton type="button" [routerLink]="['/view-users', user.id ]" icon="fa-user" ></button>
                </div>
                
            </div>

        </ng-template>

        <ng-template let-user pTemplate="gridItem">

            <div style="padding:.5em" class="ui-g-12 ui-md-3 view-users-user-grid">
                <p-panel [header]="user.firstName + ' ' + user.lastName" [style]="{'text-align':'center'}">
                    <img  
                    onError="this.src='/assets/images/no-image.png'" 
                    alt="profile image" class="img-thumbnail" src="{{
                        user.profileImage ? userUrl + '/' + user.profileImage : '/assets/images/no-user-image.png'
                    }}">
                    <div class="grid-parent">
                        <p>
                            <strong>Mobile Number :</strong>
                            {{ user.mobileNumber }}
                        </p>
                        <p>
                            <strong>Country :</strong>
                            {{user.country}}
                        </p>
                        <p>
                            <strong [ngStyle]="{color: user.online?'green' : 'red'}" >
                                {{ user.online ? 'Online'  : "Offline" }}
                            </strong>
                        </p>
                    </div>
                    <hr class="ui-widget-content" style="border-top:0">
                    <div class="view-user-click-icon">
                        <button tooltipPosition="top" pTooltip="View profile" pButton type="button" [routerLink]="['/view-users', user.id ]" icon="fa-user" ></button>
                    </div>
                </p-panel>
            </div>
        </ng-template>

        <p-footer>
            <div *ngIf='loading' class="ui-helper-clearfix">
                <div class="ui-g center-child-in-laptop">
                    <img src="/assets/images/ajax-loader.gif" class="img-responsive" alt="Image">
                </div>
            </div>
            <div *ngIf='!loading' class="ui-helper-clearfix">
                <div class="ui-g center-child-in-laptop">
                    <p style="margin-bottom: 0;padding-bottom: 0" class="lead">
                        {{ 'Users Length : ' + usersLength }}
                    </p>
                </div>
            </div>
        </p-footer>

    </p-dataView>

</div>


<button class="scroll-top-btn" (click)='scrollToTop()' pButton type="button" icon="fa-chevron-up" ></button>

