.tap-body
{
    min-height: 500px;
    width: 100% ;
}

.tabView-parent-home ::ng-deep .tabView-icon-likes .fa
{
    color: #36A2EB;
}
.tabView-parent-home ::ng-deep .tabView-icon-online .fa
{
    font-size: 13px;
    width: 20px;
    color: green;
}
.tabView-parent-home ::ng-deep .tabView-icon-posts .fa
{
    color: #f39c12;
}

.tabView-parent-home ::ng-deep .tabView-icon-disLikes .fa
{
    color: gray;
}

