<div class="tabView-parent-home">

    <p-tabView styleClass='tap-view-all' >

        <p-tabPanel  headerStyleClass='tabView-icon-likes' header=" Likes" leftIcon="fa-thumbs-up">
            <div class="tap-body">
            <p-chart type="line" [data]="likesData"  [options]="chartOptions" ></p-chart>
            </div>
        </p-tabPanel>

        <p-tabPanel headerStyleClass='tabView-icon-disLikes'   header=" DislLikes" leftIcon="fa-thumbs-down">
            <div class="tap-body">
            <p-chart type="line" [data]="disLikesData" [options]="chartOptions"></p-chart> 
            </div>
        </p-tabPanel>

        <p-tabPanel headerStyleClass='tabView-icon-posts'   header=" Posts" leftIcon="fa-newspaper-o">
            <div class="tap-body">
            <p-chart type="line" [data]="postsData" [options]="chartOptions"></p-chart> 
            </div>
        </p-tabPanel>

        <p-tabPanel headerStyleClass='tabView-icon-online'   header=" Online Hours" leftIcon="fa-circle">
            <div class="tap-body">
                <p-chart type="line" [data]="onlineData" [options]="chartOptions"></p-chart> 
            </div>
        </p-tabPanel>


    </p-tabView>

</div>
    



