<div class="row">
  <div class="col-md-12 advertisement-map" *ngIf="mapOptions">

                
      <p-autoComplete 
        styleClass="hidden-xs"
        [suggestions]="countries"
        (completeMethod)="autoCompleteEvents.completeMethod($event)"  
        (onClear)='autoCompleteEvents.onClear()'
        [minLength]="1" 
        field="name" 
        (onSelect)='autoCompleteEvents.onSelect($event)'
        placeholder="Search By Country Name" 
        [dropdown]="true" >

          <ng-template let-country pTemplate="item">
              <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                  <img src="http://www.geonames.org/flags/x/{{country.code.toLowerCase()}}.gif"  style="width:32px;display:inline-block;margin:5px 0 2px 5px"/>
                  <div style="font-size:18px;float:right;margin:10px 10px 0 0">
                    {{country.name}}
                  </div>
              </div>
          </ng-template>

      </p-autoComplete>

      <button pButton class="visible-xs" *ngIf="!useGpsMood" type="button" (click)="getLocationByGps()" icon="fa-map-marker" ></button>
      <button pButton class="hidden-xs" *ngIf="!useGpsMood" type="button" (click)="getLocationByGps()" icon="fa-map-marker" label="Get Location"></button>

      <button pButton class="visible-xs" *ngIf="useGpsMood" type="button" (click)="useMouseToGetLocation()" icon="fa-hand-pointer-o" ></button>
      <button pButton class="hidden-xs"  *ngIf="useGpsMood" type="button" (click)="useMouseToGetLocation()" icon="fa-hand-pointer-o" label="use Mouse" ></button>

      <p-gmap 
        (onMapReady)="setMap($event)"
        (onMapClick)="handleMapClick($event)" 
        [overlays]="mapOverlays"  
        [options]="mapOptions" 
      [style]="{'width':'100%','height':'370px'}" ></p-gmap>

  </div>

  <div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
      <div class="container-login100-form-btn">
          <button 
              class="login100-form-btn" 
          >
              Save
          </button>
      </div>
  </div>

</div>


  