
/*
  gender
*/
.gender ::ng-deep .ui-dropdown
{
  background: #DDD !important;
  border-radius: 22px;
}
.gender ::ng-deep .ui-dropdown label
{
  background: #DDD !important;
  color: #9e9fa4 !important;
  padding-left: 20px !important;
  border-radius: 22px !important;
}
.gender ::ng-deep .ui-dropdown .ui-dropdown-trigger-icon
{
  padding-top: 4px;
}
.gender ::ng-deep .ui-state-focus
{
  box-shadow: 0 0 5px #6edd19;
}
.gender ::ng-deep .ui-corner-right
{
  padding-top: 10px;
  background: transparent;
  padding-right: 27px;
}
.gender  ::ng-deep .ui-dropdown-item.ui-corner-all
{
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  color: #6edd19;
  transition: padding 0.5s  ease;
  -webkit-transition: padding 0.5s  ease;;
  -moz-transition: padding 0.5s  ease;;
  -o-transition: padding 0.5s  ease;;
}
.gender  ::ng-deep .ui-dropdown-item.ui-state-highlight
{
  color: #FFF;
  background: #6edd19;
}
.gender  ::ng-deep .ui-dropdown-item.ui-corner-all:not(.ui-state-highlight):hover
{
  color: #6edd19;
  padding-left: 17px
}


.groups
{
  position: relative;
  top: 9px;
}
.groups ::ng-deep .ui-multiselect label.ui-multiselect-label
{
  width: 70%;
  margin-left: 14px;
  margin-bottom: 0;
}
.groups ::ng-deep  .ui-multiselect.ui-widget.ui-state-default.ui-corner-all
{
    padding: 0px 0px 0px 3px;
    border-radius: 22px;
    background: #e6e6e6 ;
}
.groups ::ng-deep  .ui-multiselect:hover
{
    box-shadow: 0px 0px 8px #6edd19 !important;
}
.groups ::ng-deep  .ui-multiselect-trigger.ui-state-default.ui-corner-right
{
    padding-top: 10px;
    background: transparent;
    padding-right: 27px
}
.groups ::ng-deep  .ui-multiselect-label-container
{
    width: 98%;
}
.groups ::ng-deep  .ui-multiselect-label.ui-corner-all
{
    background: #e6e6e6;
}
/* icon ckeck */
.groups ::ng-deep  .ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default.ui-state-active
{
    border: 1px solid #6edd19;
    background: #6edd19;
    color: #FFFFFF;
}
/* item */
.groups ::ng-deep  .ui-state-highlight
{
    background: #6edd19
}
/* padding in hover */
.groups ::ng-deep  .ui-multiselect-panel .ui-multiselect-item label
{
    color: #6edd19;
    margin-bottom: 5px;
    padding-top: 6px;
    margin-left: 4px;
    transition: padding 0.5s  ease;
    -webkit-transition: padding 0.5s  ease;;
    -moz-transition: padding 0.5s  ease;;
    -o-transition: padding 0.5s  ease;;
}
::ng-deep  .groups .ui-multiselect-panel .ui-multiselect-item:hover label
{
    padding-left: 7px;
}
.groups ::ng-deep  .ui-multiselect-panel .ui-multiselect-item.ui-state-highlight label
{
    color: #FFF
}
/* box-shadow */
.groups ::ng-deep  .ui-multiselect.ui-state-focus
{
    box-shadow: 0 0 5px #6edd19;
}
.groups ::ng-deep   .ui-multiselect-filter-container input:focus
{
  box-shadow: 0 0 7px #6edd19
}
.groups ::ng-deep   .ui-multiselect-filter-container
{
  margin-left: 5px;
}

.groups > button
{
  top: -9px;
  right: 1px;
  padding-right: 30px;
}




/* tap view icon */
::ng-deep .employee-tabView .fa-circle
{
  font-size: 13px !important;
  width: 20px !important;
  text-align: center !important;
}