/* range input */
.advertisements-charts-calendar-range 
{
    margin-bottom: 20px;
}
 
::ng-deep .advertisements-charts-calendar-range p-calendar .ui-state-active 
{
    background: #6edd19 !important;
}


::ng-deep .advertisements-charts-calendar-range .ui-inputtext,
::ng-deep .advertisements-charts-calendar-range .ui-inputgroup .ui-inputtext:not(:last-child)
{
    padding: 9px;
    border-radius: 22px;
    width: 230px;
    border-top-right-radius: 22px !important;
    border-bottom-right-radius: 22px !important;
    padding-left: 15px;
}
::ng-deep .advertisements-charts-calendar-range .ui-inputtext:focus,
::ng-deep .advertisements-charts-calendar-range .ui-inputgroup .ui-inputtext:not(:last-child):focus
{
    box-shadow: 0 0 5px #6edd19;
}
::ng-deep .advertisements-charts-calendar-range .ui-button.ui-widget 
{
    padding: 7px;
    border-radius: 0 22px 22px 0px;
    padding-right: 30px;
    margin-left: -37px;
    border: 0px solid #d6d6d6;
}
/* search */
::ng-deep .advertisements-charts-calendar-range .ui-button.ui-widget
{
    background: #6edd19;
}
::ng-deep .advertisements-charts-calendar-range .ui-button.ui-widget:hover
{
    background: #57c304 !important;
    border: 0
}