  /*---------------------------------------------*/
  a {
      font-family: Poppins-Regular;
      font-size: 14px;
      line-height: 1.7;
      color: #666666;
      margin: 0px;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
  }
  
  a:focus {
      outline: none !important;
  }
  
  a:hover {
      text-decoration: none;
    color: #6edd19;
  }
  
  /*---------------------------------------------*/
  h1,h2,h3,h4,h5,h6 {
      margin: 0px;
  }
  
  p {
      font-family: Poppins-Regular;
      font-size: 14px;
      line-height: 1.7;
      color: #666666;
      margin: 0px;
  }
  
  ul, li {
      margin: 0px;
      list-style-type: none;
  }
  
  
  /*---------------------------------------------*/
  input {
      outline: none;
      border: none;
  }
  
  textarea {
    outline: none;
    border: none;
  }
  
  textarea:focus, input:focus {
    border-color: transparent !important;
  }
  
  input:focus::-webkit-input-placeholder { color:transparent; }
  input:focus:-moz-placeholder { color:transparent; }
  input:focus::-moz-placeholder { color:transparent; }
  input:focus:-ms-input-placeholder { color:transparent; }
  
  textarea:focus::-webkit-input-placeholder { color:transparent; }
  textarea:focus:-moz-placeholder { color:transparent; }
  textarea:focus::-moz-placeholder { color:transparent; }
  textarea:focus:-ms-input-placeholder { color:transparent; }
  
  input::-webkit-input-placeholder { color: #999999; }
  input:-moz-placeholder { color: #999999; }
  input::-moz-placeholder { color: #999999; }
  input:-ms-input-placeholder { color: #999999; }
  
  textarea::-webkit-input-placeholder { color: #999999; }
  textarea:-moz-placeholder { color: #999999; }
  textarea::-moz-placeholder { color: #999999; }
  textarea:-ms-input-placeholder { color: #999999; }
  
  /*---------------------------------------------*/
  button {
      outline: none !important;
      border: none;
      background: transparent;
  }
  
  button:hover {
      cursor: pointer;
  }
  
  iframe {
      border: none !important;
  }
  
  
  /*//////////////////////////////////////////////////////////////////
  [ Utility ]*/
  .txt1 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: #999999;
  }
  
  .txt2 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: #DDD;
  }
  
  
  /*//////////////////////////////////////////////////////////////////
  [ login ]*/
  
  .limiter {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 7px;
  }
  
 
  .overlay-login 
  {
    background-image: url(http://mr-tailor-szcel9eb49h.stackpathdns.com/wp-content/uploads/2015/11/bradley-2nd-1.jpg?id=1042) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;

    border-radius: 10px;
    
    /* background: url('https://cdn.colorlib.com/dazzling/wp-content/uploads/sites/6/2013/01/2048-9-1024x628.jpg') center center fixed; */
  }

  .wrap-login100 {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    overflow: hidden;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding:100px 80px 100px 110px;
  }
  
  /*------------------------------------------------------------------
  [  ]*/
  .login100-pic {
    width: 316px;

  }
  
  .login100-pic img {
    max-width: 100%;
    margin-top: 50px;
  }
  
  
  /*------------------------------------------------------------------
  [  ]*/
  .login100-form {
    padding: 15px;
  }
  
  
  .login100-form-title {
    font-family: Poppins-Bold;
    font-size: 24px;
    color: white;
    line-height: 1.2;
    text-align: center;
  
    width: 100%;
    display: block;
    padding-bottom: 54px;
  }
  
  
  /*---------------------------------------------*/
  .wrap-input100:not(.add-employess-kind) {
    position: relative;
    width: 100%;
    z-index: 0;
    margin-top: 15px;
  }
  
  .input100 {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
  
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
  }
  
  
  /*------------------------------------------------------------------
  [ Focus ]*/
  .focus-input100 {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(87,184,70, 0.8);
  }
  
  .input100:focus + .focus-input100 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
  }
  
  @-webkit-keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 70px 25px;
      opacity: 0;
    }
  }
  
  @keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 70px 25px;
      opacity: 0;
    }
  }
  
  .symbol-input100 {
    font-size: 15px;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: #666666;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .input100:focus + .focus-input100 + .symbol-input100 {
    color: #6edd19;
    padding-left: 28px;
  }
  
  /*------------------------------------------------------------------
  [ Button ]*/
  .container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
  }
  
  .login100-form-btn {
    font-family: Montserrat-Bold;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
  
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #6edd19;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .login100-form-btn:hover {
    background: #57c304;
  }
  
  
  
  /*------------------------------------------------------------------
  [ Responsive ]*/
  
  
  
  @media (max-width: 992px) {
    .wrap-login100 {
      padding: 177px 90px 33px 85px;
    }
  
    .login100-pic {
      width: 35%;
    }
  
    .login100-form {
      width: 50%;
    }
  }
  
  @media (max-width: 768px) {
    .wrap-login100 {
      padding: 100px 80px 33px 80px;
    }
  
    .login100-pic {
      display: none;
    }
  
    .login100-form {
      width: 100%;
    }
  }
  
  @media (max-width: 576px) {
    .wrap-login100 {
      padding: 100px 15px 33px 15px;
    }
  }
  
  
    

/* form title */
.form-title  {
  margin-bottom: 20px;
  font-weight: 600;
  letter-spacing: .5px;
}



 /* map btns */
.advertisement-map
{
  position: relative;
  top: -25px;
}
.advertisement-map > button
{
  position: absolute;
  top: 43px;
  z-index: 1;
  left: 132px;
  background: #6edd19;
  border: 0;
}
.advertisement-map > button:hover
{
  background: #57c304;
  border: 0;
}
@media (max-width: 768px) {
  .advertisement-map > button
  {
    top: 16px;
    left: 160px;
  }
}




/* error */
.input-error
{
  margin-left: 22px;
  color: red
}
.input-error .fa
{
  font-size: 14px;
  padding-right: 2px;
}



/* autocomplate */
p-autoComplete
{
  position: relative;
  top: 43px;
  z-index: 1;
  left: calc(50% - 125px);
}

/* autoComplete input and btn */
p-autoComplete ::ng-deep .ui-button-text.ui-clickable
{
    height: 27px !important;
}
p-autoComplete ::ng-deep .ui-autocomplete-dropdown 
{
    background: #6edd19 !important;
    border-color: #6edd19 !important;
    margin-left: -38px;
    border-radius: 0px 22px 22px 0px;
    padding: 0px 37px 1px 0;
    margin-top: 0px;
}
p-autoComplete ::ng-deep .ui-autocomplete-dropdown:hover 
{
    background: #57c304 !important;
    /* border-color: #57c304 !important;  */
    border: 0
}
p-autoComplete ::ng-deep .ui-inputtext
{
  width: 250px;
}
p-autoComplete ::ng-deep .ui-inputtext:focus
{
    box-shadow: 0 0 5px #6edd19 !important;
} 
p-autoComplete ::ng-deep .ui-state-highlight
{
    background: #57c304 !important;
}


/* color country name */
p-autoComplete ::ng-deep .ui-autocomplete-list-item
{
    color: #6edd19;
}
p-autoComplete ::ng-deep .ui-state-highlight
{
    color: #fff !important;
}
p-autoComplete ::ng-deep .ui-autocomplete-list-item div
{
    -webkit-transition: padding 0.5s  ease;
    -moz-transition: padding 0.5s  ease;
    -o-transition: padding 0.5s  ease;
    transition: padding 0.5s  ease;
}
p-autoComplete ::ng-deep .ui-state-highlight div
{
    padding-right: 7px;
}


/* input  */
p-autoComplete ::ng-deep .ui-inputtext
{
    padding: 5px;
    padding-left: 15px;
    border-radius: 22px;
    border-top-right-radius: 22px !important;
    border-bottom-right-radius: 22px !important;
    border: 0;
}