<div class="limiter">
    <div class="container-login100">
        <form  role="form" [formGroup]='AddadvertisementForm' (submit)='onSubmit()' class="login100-form ">
            
          <!-- row -->
          <div class="row">
              
              <div class="col-md-12">
                  <h4 style="margin-bottom: 10px" class="form-title text-center">
                      Advertisement Details
                  </h4>
              </div>

              <!-- name -->
              <div class="col-md-6">
                  <div class="wrap-input100 validate-input" >
                      <input  autocomplete="off" formControlName='name' class="input100" type="text" placeholder="Name">
                      <span class="focus-input100"></span>
                      <span class="symbol-input100">
                          <i class="fa fa-buysellads" aria-hidden="true"></i>
                      </span>
                  </div>
                  <span 
                      class="input-error" 
                      [ngStyle]="{'visibility': 
                          AddadvertisementForm.controls.name.invalid && 
                          AddadvertisementForm.controls.name.touched ? 'visible' : 'hidden'}" 
                      >
                      <i class="fa fa-exclamation-circle"></i>
                      <span>
                          Name Is {{ getErrorMsg(AddadvertisementForm.controls.name.errors)}}
                      </span>
                  </span>
              </div>

              <!-- price -->
              <div class="col-md-6">
                  <div class="wrap-input100 validate-input" >
                      <input  autocomplete="off" formControlName='price' class="input100" type="text" placeholder="Price">
                      <span class="focus-input100"></span>
                      <span class="symbol-input100">
                          <i class="fa fa-usd" aria-hidden="true"></i>
                      </span>
                  </div>
                  <span 
                      class="input-error" 
                      [ngStyle]="{'visibility': 
                          AddadvertisementForm.controls.price.invalid && 
                          AddadvertisementForm.controls.price.touched ? 'visible' : 'hidden'}" 
                      >
                      <i class="fa fa-exclamation-circle"></i>
                      <span>
                          Price Is {{ getErrorMsg( AddadvertisementForm.controls.price.errors)}}
                      </span>
                  </span>
              </div>

              <!-- distance -->
              <div class="col-md-6 col-md-offset-3">
                  <div class="wrap-input100 validate-input" >
                      <input  autocomplete="off" formControlName='distance' class="input100" type="text" placeholder="Distance KM">
                      <span class="focus-input100"></span>
                      <span class="symbol-input100">
                          <i class="fa fa-map-marker" aria-hidden="true"></i>
                      </span>
                  </div>
                  <span 
                      class="input-error" 
                      [ngStyle]="{'visibility': 
                          AddadvertisementForm.controls.distance.invalid && 
                          AddadvertisementForm.controls.distance.touched ? 'visible' : 'hidden'}" 
                      >
                      <i class="fa fa-exclamation-circle"></i>
                      <span>
                          Distance Is {{ getErrorMsg( AddadvertisementForm.controls.distance.errors)}}
                      </span>
                  </span>
              </div>

              


              
              <div class="col-md-12">
                  <hr class="ui-widget-content" style="border-top:0;margin-bottom: 45px;">
              </div>
              <div class="col-md-12">
                  <h4 style="margin-bottom: 20px" class="form-title text-center">
                      Body
                  </h4>
              </div>

              
              <!-- details -->
              <div class="col-md-12 ">
                  <p-editor formControlName='details' [style]="{'height':'320px' ,'width':'100%'}">
                    <p-header>
                        <span class="ql-formats">
                            <button class="ql-bold" aria-label="Bold"></button>
                            <button class="ql-italic" aria-label="Italic"></button>
                            <button class="ql-underline" aria-label="Underline"></button>
                        </span>
                    </p-header>
                  </p-editor>
              </div>


                    
              <div class="col-md-12">
                  <hr class="ui-widget-content" style="border-top:0;margin-bottom: 45px;">
              </div>
              <div class="col-md-12">
                  <h4 style="margin-bottom: 20px" class="form-title text-center">
                      Location
                  </h4>
              </div>


              <!-- map -->
              <div class="col-md-12 advertisement-map" *ngIf="mapOptions">

               
                <p-autoComplete 
                  styleClass="hidden-xs"
                  [suggestions]="countries"
                  (completeMethod)="autoCompleteEvents.completeMethod($event)"  
                  (onClear)='autoCompleteEvents.onClear()'
                  [minLength]="1" 
                  field="name" 
                  (onSelect)='autoCompleteEvents.onSelect($event)'
                  placeholder="Search By Country Name" 
                  [dropdown]="true" >
      
                    <ng-template let-country pTemplate="item">
                        <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                            <img src="http://www.geonames.org/flags/x/{{country.code.toLowerCase()}}.gif"  style="width:32px;display:inline-block;margin:5px 0 2px 5px"/>
                            <div style="font-size:18px;float:right;margin:10px 10px 0 0">
                              {{country.name}}
                            </div>
                        </div>
                    </ng-template>
      
                </p-autoComplete>

                <button pButton class="visible-xs" *ngIf="!useGpsMood" type="button" (click)="getLocationByGps()" icon="fa-map-marker" ></button>
                <button pButton class="hidden-xs" *ngIf="!useGpsMood" type="button" (click)="getLocationByGps()" icon="fa-map-marker" label="Get Location"></button>

                <button pButton class="visible-xs" *ngIf="useGpsMood" type="button" (click)="useMouseToGetLocation()" icon="fa-hand-pointer-o" ></button>
                <button pButton class="hidden-xs"  *ngIf="useGpsMood" type="button" (click)="useMouseToGetLocation()" icon="fa-hand-pointer-o" label="use Mouse" ></button>
           
                <p-gmap 
                  (onMapReady)="setMap($event)"
                  (onMapClick)="handleMapClick($event)" 
                  [overlays]="mapOverlays"  
                  [options]="mapOptions" 
                [style]="{'width':'100%','height':'370px'}" ></p-gmap>

              </div>

            
              <div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2">
                  <div class="container-login100-form-btn">
                      <button 
                          type="submit"
                          class="login100-form-btn" 
                      >
                          Save
                      </button>
                  </div>
              </div>
          

          </div>
          <!-- ./row -->
  
        </form>
    </div>
</div>
      