<div class="limiter">
	<div class="container-login100">

		<div class="overlay-image-add-employee">

			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="/assets/images/img-01.png" alt="IMG">
				</div>

				<form  role="form" [formGroup]='signinForm' (submit)='onSubmit()' class="login100-form validate-form">
					<span class="login100-form-title">
						Employee Login
					</span>


					<!-- Email -->
					<div class="wrap-input100 validate-input" >
						<input formControlName='email' class="input100" type="text" placeholder="Email">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
					</div>
					<span 
						class="input-error" 
						[ngStyle]="{'visibility': 
							signinForm.controls.email.invalid && 
							signinForm.controls.email.touched ? 'visible' : 'hidden'}" 
						>
						<i class="fa fa-exclamation-circle"></i>
						Email Is {{ getErrorMsg( signinForm.controls.email.errors)}}
					</span>
					

					<!-- password -->
					<div class="wrap-input100 " >
						<i class="fa fa-eye" (mouseenter)='pa.type="text"' (mouseleave)='pa.type="password"'></i>
						<input #pa  formControlName='password' class="input100" type="password" placeholder="Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
						<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					<span 
						class="input-error" 
						[ngStyle]="{'visibility': 
							signinForm.controls.password.invalid && 
							signinForm.controls.password.touched ? 'visible' : 'hidden'}" 
						>
						<i class="fa fa-exclamation-circle"></i>
						Password Is {{ getErrorMsg( signinForm.controls.password.errors)}}
					</span>
						

					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">
							Login
						</button>
					</div>
		
				</form>
			</div>
		</div>


	</div>
</div>
