<!-- map parent -->
<div class="row map-parent">
    <div class="col-md-12" >


        <!-- map details country-->
        <div *ngIf="false" class="map-country-details panel panel-default">

            <div class="panel-heading">
            
            <p class="country-name" > 
                {{ selectedCountryDetails.name }} 
            </p>

            <i class="fa fa-times" (click)='closeDetails()'></i>

            </div>

            <div class="panel-body">

            <div class="item">
                <i class="fa fa-users" style="color:#2399e5" ></i>
                <strong>Total Users : </strong> 
                <span>
                    {{ selectedCountryDetails.totalUsers   }}
                </span>
            </div>

            <div class="item">
                <i class="fa fa-star" style="color:yellow"></i>
                <strong>Posts +5 : </strong>
                <span>
                {{selectedCountryDetails.posts5  }}
                </span>
            </div>


            <div class="item">
                <i class="fa fa-circle text-center" style="color:#359e36;"></i>
                <strong>Total Online : </strong>
                <span>
                {{selectedCountryDetails.totalOnline  }}
                </span>
            </div>

            
            <div class="item">
                <i class="fa fa-circle text-center" style="color:red"></i>
                <strong>Total Offline : </strong>
                <span>
                {{selectedCountryDetails.totalOffline  }}
                </span>
            </div>

            <div class="item">
                <div class="progress" style="background: red;height: 5px">
                <div class="progress-bar" role="progressbar"
                    aria-valuemin="0" 
                    aria-valuemax="100" 
                    [ngStyle]="{
                    'width': selectedCountryDetails.percent + 'px' , 
                    'background': '#359e36'
                }">
                </div>
                </div>
            </div>

            </div>
            
        </div>
        <!-- map details-->


        <!-- map -->
        <div id="AdvertisementsMap"></div>
        <!-- map -->


    </div>
</div>
<!-- ./map parent -->