<p-dataView 
    [value]="stories" 
    [paginator]="false"
    emptyMessage=''
>
    
    <p-header>
        <p class="text-center" style="margin-bottom: 0">
            Story
        </p>
    </p-header>
    
    <ng-template  let-story pTemplate="listItem">

        <!-- post -->
        <div [ngStyle]="{'margin-bottom': story ? '20px' : '0px' }" class="post-parent" >
            <div *ngIf="story" class="row">
                <div  class="col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0 post">

                    <!-- <i class="fa fa-trash" tooltipPosition="top" pTooltip="Delete Post" ></i> -->

                    <!-- name and image -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="name-and-image">
                                
                                <div class="col-md-2 image">
                                    <img  alt="profile image" class="img-thumbnail" 
                                        src="{{userUrl + '/' + story.user.profile.profileImage}}" 
                                        onError="this.src='/assets/images/no-user-image.png'" 
                                    >
                                </div>

                                <div class="col-md-10 name ">
                                    <p>{{story.user.profile.firstName + ' ' +story.user.profile.lastName }}</p>
                                    <p>{{ story.createdAt | timeAgo}}</p>
                                </div>
                                
                            </div>

                            <i class="fa fa-trash" tooltipPosition="top" (click)='deleteStory(story.id)' pTooltip="Delete Story" ></i>


                        </div>
                    </div>
                    <!-- ./name and image -->
                    

                    <!-- body -->
                    <div class="row">
                        <div class="col-md-12 col-md-offset-0">
                            <div class="post-body">


                                <!-- images -->
                                <div class="row comment-images text-center">
                                    <div  *ngIf="story?.media[0]?.type == 'photo'" class="first-image-post  col-md-8 col-md-offset-2">
                                        <img  
                                            alt="profile image" 
                                            class="img-thumbnail" 
                                            src="{{userUrl + '/' + story?.media[0]?.url}}" 
                                            onError="this.src='/assets/images/no-image.png'" 
                                            style="max-height: 300px;"                                    
                                        >
                                    </div>
                                </div>
                                <!-- ./images -->


                            </div>                        
                        </div>
                    </div>
                    <!-- ./body -->


                    <!-- bar -->
                    <div class="row">
                        <div class="col-md-12 col-md-offset-0">
                            <div class="post-bar">
                                <div class="col-md-4 col-xs-12 text-left">
                                    <button (click)='showLikes( story.id )' type="button" class="btn btn-default" >{{ story.counters.likesCount }} Likes</button>
                                </div>
                                <div class="col-md-4 col-xs-12 text-center">
                                    <button (click)='story.showReplies ? null : getReplies( story.id );'  type="button" class="btn btn-default" >{{story.counters.commentCount}} Comments</button>
                                </div>
                                <div class="col-md-4 col-xs-12 text-right">
                                    <button (click)='showShares( story.id  )'  type="button" class="btn btn-default" >{{story.counters.sharedCount}} Share</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ../bar -->


                    <!-- comments -->
                    <div class="row" *ngIf="story.showReplies">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="comments">


                                <!-- comment -->
                                <div class="comment" *ngFor="let replay of story.replaies">

                                    <!-- name and image -->
                                    <div class="row">    
                                        <div class="col-md-12">
                                            <div class="name-and-image">

                                                <div class="col-md-2 image">
                                                    <img  alt="profile image" class="img-thumbnail" 
                                                        src="{{userUrl + '/' + replay.user.profileImage}}" 
                                                        onError="this.src='/assets/images/no-user-image.png'" 
                                                    >
                                                </div>

                                                <div class="col-md-10 name ">
                                                    <p>{{ replay.user.firstName + ' ' +replay.user.lastName }}</p>
                                                    <p>{{ replay.createdAt | timeAgo}}</p>
                                                </div>
                                            </div>
                                            <i class="fa fa-trash" tooltipPosition="top" (click)='deleteReplay(story.id , replay.id , replay.user.id)' pTooltip="Delete Replay" ></i>
                                            
                                        </div>
                                    </div>
                                    <!-- ./name and image -->

                                    <!-- body -->
                                    <div class="row">
                                        <div class="col-md-12 col-md-offset-0">

                                            <!-- comment body -->
                                            <div class="post-body">


                                                <!-- images -->
                                                <div *ngIf="replay?.media[0]?.type == 'photo'" class="row comment-images text-center">
                                                    <div  class="first-image-post  col-md-8 col-md-offset-2">
                                                        <img  
                                                            alt="profile image" 
                                                            class="img-thumbnail" 
                                                            src="{{userUrl + '/' + replay?.media[0]?.url}}" 
                                                            onError="this.src='/assets/images/no-image.png'" 
                                                            style="max-height: 300px;"                                    
                                                        >
                                                        <i *ngIf="replay.media.length > 1" class="fa fa-plus" (click)='showImages(replay.media)' tooltipPosition="top" pTooltip="View More" ></i>
                                                        
                                                    </div>
                                                </div>
                                                <!-- ./images -->

                                                <!-- video -->
                                                <div *ngIf="replay?.media[0]?.type == 'video'"  class="row comment-images text-center">
                                                    <div  class="first-image-post  col-md-8 col-md-offset-2">
                                                        <video 
                                                            poster="{{userUrl + '/' +  replay.media[0].thumbnails[0] }}"
                                                            controls 
                                                            style="height: 245px;" 
                                                            class='img-thumbnail' 
                                                            src="{{userUrl + '/' + replay.media[0].url}}" >
                                                        </video>
                                                    </div>
                                                </div>
                                                <!-- ./video -->


                                                <!-- text -->
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p class="lead lead-text-comment">
                                                            {{replay.text }}
                                                        </p>
                                                    </div>
                                                </div>
                                                <!-- ./text -->

                    
                    
                                            </div>      
                                            <!-- ./comment body -->
                                                            
                                        </div>
                                    </div>
                                    <!-- ./body -->

                                    <!-- bar -->
                                    <div class="row">
                                        <div class="col-md-12 col-md-offset-0">
                                            <div class="post-bar">
                                                <div class="col-md-4 text-left">
                                                    <button  (click)='showLikes(replay.id)' type="button" class="btn btn-default" >{{ replay.counters.likesCount }}  Likes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ../bar -->
                                
                        

                                </div>
                                <!-- ./comment -->
                        

                                <div class="row">
                                    <div class="col-md-12 text-center" style="margin-top:5px ">
                                        <button class="load-more-btn" (click)='loadMoreReplaies( story.id )' type="text" icon="fa-refresh" pButton label="Load"></button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- ./comments -->


                </div>
            </div>
        </div>
        <!-- ./post -->
            

    </ng-template>
    
</p-dataView>

<button class="scroll-top-btn" (click)='scrollToTop()' pButton type="button" icon="fa-chevron-up" ></button>

<!-- likes or shares -->
<div class="row" *ngIf="isShowLikesOrShares">
    <div class="col-md-5 overlay-posts col-md-offset-2" >

        <i (click)='closeShowLikesOrShares()' class="fa fa-close"></i>

        <div class="row">
            <div class="col-md-12 users-content-item">
        
                <!-- name and image -->
                <div class="row" *ngFor="let user of showLikesOrSharesData">
                    <div class="col-md-12">
                        <div class="name-and-image">
                            
                            <div class="col-md-2 image">
                                <img  alt="profile image" class="img-thumbnail" src="{{userUrl + '/' + user.img}}">
                            </div>

                            <div class="col-md-10 name ">
                                <p [routerLink]="['/view-users', user.id ]"  >{{user.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./name and image -->

                <div class="row">
                    <div class="col-md-12 text-center" style="margin-top:5px ">
                        <button class="load-more-btn" (click)='loadMoreLikesOrShares()' type="text" icon="fa-refresh" pButton label="Load"></button>
                    </div>
                </div>
                 
            </div>
        </div>

    </div>
</div>
 