.tap-body
{
    min-height: 500px;
    width: 100% ;
}

.tabView-parent-home ::ng-deep .tabView-icon-likes .fa
{
    color: #36A2EB;
}
.tabView-parent-home ::ng-deep .tabView-icon-users .fa
{
    color:#407ffc
}
.tabView-parent-home ::ng-deep .tabView-icon-posts .fa
{
    color: #f39c12;
}

.tabView-parent-home ::ng-deep .tabView-icon-disLikes .fa
{
    color: gray;
}

