<!-- Info boxes -->
<div class="row">

  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-aqua"><i class="fa fa-thumbs-down"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">dis Likes</span>
        <span class="info-box-number">{{ allDisLikes }}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
  
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-aqua"><i class="fa fa-thumbs-up"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Likes</span>
        <span class="info-box-number">{{allLikes}}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon" style="background:#407ffc "><i style="color: #fff;" class="fa fa-users"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">Users</span>
        <span class="info-box-number">{{ allUsers }}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->

  <!-- fix for small devices only -->
  <div class="clearfix visible-sm-block"></div>

  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-yellow  "><i class="fa fa-newspaper-o"></i></span>

      <div class="info-box-content">
        <span class="info-box-text">POSTS</span>
        <span class="info-box-number">{{allPosts}}</span>
      </div>
      <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
  </div>
  <!-- /.col -->


</div>
<!-- /.row -->


<div class="row">
  <div class="col-md-12 tabView-parent-home">

    <p-tabView styleClass='tap-view-all' >

        <p-tabPanel  headerStyleClass='tabView-icon-likes' header=" Likes" leftIcon="fa-thumbs-up">
          <div class="tap-body">
            <p-chart type="line" [data]="likesData"  [options]="chartOptions" ></p-chart>
          </div>
        </p-tabPanel>

        <p-tabPanel headerStyleClass='tabView-icon-disLikes'   header=" DisLikes" leftIcon="fa-thumbs-down">
          <div class="tap-body">
            <p-chart type="line" [data]="disLikesData" [options]="chartOptions"></p-chart> 
          </div>
        </p-tabPanel>
        
        <p-tabPanel  headerStyleClass='tabView-icon-users' header=" Users" leftIcon="fa-users">
          <div class="tap-body">
            <p-chart type="line" [data]="usersData" [options]="chartOptions"></p-chart> 
          </div>
        </p-tabPanel>

        <p-tabPanel headerStyleClass='tabView-icon-posts'   header=" Posts" leftIcon="fa-newspaper-o">
          <div class="tap-body">
            <p-chart type="line" [data]="postsData" [options]="chartOptions"></p-chart> 
          </div>
        </p-tabPanel>



    </p-tabView>

  </div>
</div>