
/* dataview search  */
.ui-dataview-header .dataview-search .ui-inputtext,
.ui-dataview-header .dataview-search .ui-inputgroup .ui-inputtext:not(:last-child)
{
    padding: 9px;
    border-radius: 22px;
    width: 230px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    padding-left: 15px;
    border: 0;
}
.ui-dataview-header .dataview-search .ui-inputtext:focus,
.ui-dataview-header .dataview-search .ui-inputgroup .ui-inputtext:not(:last-child):focus
{
    box-shadow: 0 0 5px #6edd19;
}
.ui-dataview-header .dataview-search .ui-button.ui-widget 
{
    padding: 7px;
    border-radius: 0 22px 22px 0px;
    padding-right: 30px;
    margin-left: -37px;
    border: 0px solid #d6d6d6;
}
/* search */
.ui-dataview-header .dataview-search .ui-button.ui-widget[icon=fa-search]
{
    background: #6edd19;
}
.ui-dataview-header .dataview-search .ui-button.ui-widget[icon=fa-search]:hover
{
    background: #57c304 !important;
    border: 0
}
/* close */
.ui-dataview-header .dataview-search .ui-button.ui-widget[icon=fa-close]
{
    background: red;
}
.ui-dataview-header .dataview-search .ui-button.ui-widget[icon=fa-close]:hover
{
    background: #d41414 !important;
}
.ui-dataview-header .dataview-search .search-close-btn
{
    right: 26px !important;
    border-radius: 0 !important;
    width: 26px !important;
    padding: 0 !important;
}


/* dataview add btn */
.ui-dataview-header .dataview-add-btn button
{
    border-radius: 22px;
    margin-top: 0;
    padding: 6px 10px;
    background: #6edd19 !important;
    border-color: #6edd19 !important;
    padding: 6px 30px;
}
.ui-dataview-header .dataview-add-btn button .ui-button-icon-left
{
    margin-left: 30px;
}
.ui-dataview-header .dataview-add-btn button:hover
{
    border-radius: 22px;
    margin-top: 0;
    background: #5fc00c !important;
    border-color: #5fc00c !important;
}



/* dataViewLayoutOptions */
.ui-dataview-header .dataViewLayoutOptions 
{
    padding-top: 15px
}
.ui-dataview-header .dataViewLayoutOptions .ui-state-default
{
    border: 0 !important;
}
.ui-dataview-header .dataViewLayoutOptions .ui-state-default:not(.ui-state-active) i 
{
    color : #6edd19;
}
.ui-dataview-header .dataViewLayoutOptions .ui-state-default.ui-state-active,
.ui-dataview-header .dataViewLayoutOptions .ui-state-default.ui-state-active:hover
{
    background: #6edd19 !important;
}
.ui-dataview-header .dataViewLayoutOptions .ui-state-default.ui-state-active:focus
{
    box-shadow: 0 0 5px #6edd19 !important;
}





/* filter input */
.data-view-filter *
{
    letter-spacing: 0.5px;
}
.data-view-filter .ui-dropdown.ui-state-focus
{
    box-shadow: 0 0 5px #6edd19 !important;
}
.data-view-filter.ui-state-highlight
{
    background: #6edd19;
}

.data-view-filter .ui-dropdown,
.data-view-filter .ui-dropdown:hover
{
    padding: 6px;
    padding-left: 15px;
    border-radius: 22px;
    background: white ;
    /* border-color: #d6d6d6 ;*/
    border: 0;
}
.data-view-filter .ui-dropdown-trigger.ui-state-default.ui-corner-right
{
    padding: 10px 28px 10px 10px;
    border-radius: 0px 22px 22px 0px;
    background: #6edd19;
    border: 0
}
.data-view-filter .ui-dropdown-trigger.ui-state-default.ui-corner-right:hover
{
    background: #57c304 !important;
    border: 0
}
.data-view-filter .ui-dropdown .ui-dropdown-trigger .fa {
    color: #fff;
}

.data-view-filter .ui-dropdown-item
{
    transition: all 0.5s  ease;
    -webkit-transition: all 0.5s  ease;;
    -moz-transition: all 0.5s  ease;;
    -o-transition: all 0.5s  ease;;
    transition: all 0.5s  ease;

    padding-top: 3px;
    padding-bottom: 3px; 
    padding-left: 7px;
    color: #57c304;
}

.data-view-filter .ui-dropdown-item:hover
{
    padding-left: 15px;
    color: #57c304 !important;
}
.data-view-filter .ui-dropdown-item.ui-state-highlight:hover,
.data-view-filter .ui-dropdown-item.ui-state-highlight
{
    color: #FFF !important;
}
.data-view-filter .ui-dropdown-item.ui-state-highlight
{
    background: #57c304;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-color: #57c304;
}
.data-view-filter label.ui-dropdown-label
{
    color: #57c304 ;
}






/* show users grid or list */
.data-view-detail-grid
{
    padding-top: 10px;
}
.data-view-detail-grid p
{
    word-break: break-all
}
.data-view-detail-list img.img-thumbnail
{
    width: 150px;
    border-radius: 50%;
    height: 150px;
    border: 2px solid #6edd19;
    padding: 3px;
}
.data-view-detail-list .item .fa
{
    font-size: 18px;
    color : #6edd19;
    width: 30px;
    text-align: center;
}
.data-view-detail-list .item .fa-circle
{
    font-size: 13px;
}

.data-view-detail-list .item,
.data-view-detail-grid p
{
    word-break: break-all;
    color: #696666 !important;
}
.data-view-detail-grid .item,
.data-view-detail-list .item
{
    padding-top: 4px;
    padding-bottom: 4px;
}
.data-view-detail-grid .item span,
.data-view-detail-list .item span
{
    line-height: 25px;
}

.data-view-detail-grid .grid-parent strong
{
    letter-spacing: 0.5px;
    margin-right: 5px;
}

.data-view-detail-list .item strong
{
    letter-spacing: 0.5px;
    margin-right: 10px;
    display: inline-block;
}

.data-view-detail-grid img.img-thumbnail
{
    width: 100px;
    border-radius: 50%;
    height: 100px;
    border: 2px solid #6edd19;
    padding: 3px;
}
.data-view-detail-list .ui-button:hover,
.data-view-detail-grid .ui-button:hover
{
    background: #57c304 !important;
    border-color: #57c304 !important;
}

/* view user icon (in right) */
.data-view-detail-list .data-view-right-click-icon .ui-button,
.data-view-detail-grid .data-view-right-click-icon .ui-button
{
    background: #6edd19;
    border-color: #6edd19;
    height: 33px;
    width: 39px;
}
.data-view-right-click-icon .fa-user
{
    font-size: 22px !important;
}
.data-view-detail-grid img
{
    margin-bottom: 15px;
}
.data-view-detail-grid p
{
    word-break: break-all
}
.data-view-detail-grid .grid-parent
{
    min-height: 150px;
}

