.ui-paginator .fa
{
    color: #5fc00c
}
.ui-paginator .fa-caret-down
{
    color: #fff;
    margin-top: 5px;
}
.ui-paginator .ui-corner-right span
{
    padding-top: 3px;
}
.ui-paginator .ui-corner-right
{
    background: #5fc00c ;
    border: 0;
}
.ui-paginator .ui-corner-right:hover
{
    background: #57c304 !important;
    border: 0
}
/* change rows length */
.ui-paginator .ui-dropdown-items.ui-dropdown-list .ui-corner-all,
.ui-paginator label.ui-dropdown-label
{
    color: #5fc00c ;
    -webkit-transition: all 0.5s  ease;
    -moz-transition: all 0.5s  ease;
    -o-transition: all 0.5s  ease;
    transition: all 0.5s  ease;
}
.ui-paginator .ui-dropdown-items.ui-dropdown-list .ui-corner-all:hover
{
    color: #5fc00c ;
    padding-left: 9px;
}
.ui-paginator .ui-corner-all.ui-state-highlight
{
    background: #5fc00c;
    color: #FFF !important;
}
.ui-paginator .ui-dropdown.ui-state-focus
{
    box-shadow: 0 0 5px #5fc00c !important;
}
.ui-paginator .ui-paginator-page.ui-state-active
{
    background: #5fc00c;
    border-color: #5fc00c !important;
}
.ui-paginator a {
    color: #5fc00c;
    font-weight: 500;
}
.ui-paginator a:not(.ui-state-active):hover {
    color: #5fc00c !important;
    font-weight: 500;
}
