.view-profile .panel-heading h2 
{
    position: relative;
}
.view-profile .panel-heading h2 .fa
{
    position: absolute;
    right: 0;
    top : -2px;
    font-size: 21px;
    color: red;
    cursor: pointer;
}
.view-profile .list-group-item 
{
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 15px;
    position: relative;
    padding-left: 5px;
    color: #696666;
    
}
.view-profile .list-group-item > div > .fa
{
    text-align: center;
    width: 32px;
    color: #6edd19;
    font-size: 18px;
    /* margin-right: 8px; */
}
.view-profile .list-group-item .fa-edit
{
    margin-right: 0px;
    position: absolute;
    right: 5px;
    top: 12px;
    font-size: 22px;
    color: #72afd2;
    cursor: pointer;
    width: 32px;
}




/* edit input */
.view-profile .list-group-item .ui-inputgroup
{
    display: inline-block;
    width: 65%;
}
@media (max-width: 768px) {
    .view-profile .list-group-item .ui-inputgroup
    {
        width: 111% !important;
    }
}
.view-profile .list-group-item .ui-inputgroup > input
{
    border-radius: 22px;
    padding-left: 16px !important;
    width: 100%;
}
.view-profile .list-group-item .ui-inputgroup input:focus,
 .view-profile .list-group-item input:focus
{
    box-shadow: 0 0 5px #6edd19 !important;
}
.view-profile .list-group-item .ui-inputgroup button
{
    padding-right: 27px;
    border-radius: 0 22px 22px 0;
    margin-left: -30px;
    background: #6edd19;
    border: 0;
    padding-top: 2px;
    padding-bottom: 2px;

}
.view-profile .list-group-item .ui-inputgroup button:hover
{
    background: #57c304;
    border: 0;
}
.view-profile .list-group-item > div
{
    word-break: break-all;
    width: 90%;
}
.view-profile .list-group-item strong
{
    margin-right: 10px;
    display: inline-block;
}

 

/* icon inside edit input */
.view-profile  .ui-inputgroup .fa-edit
{
    top: 16px;
    left: 9px;
    color: #fff;
    font-size: 19px;
}
@media (max-width: 768px) {
    .view-profile .list-group-item > div > span
    {
        padding-left: 25px;
        padding-top: 5px;
        display: block;
        width: 100%;
        text-align: center;
        line-height: 22px;
    }
    
    .view-profile .list-group-item .ui-inputgroup
    {
        margin-left: 6px;
        width: 100%;
        margin-top: 12px;
    }
    .view-profile .list-group-item .ui-inputgroup input
    {
        min-width: 0;
        width: 100%;
    }
    .view-profile .list-group-item .ui-inputgroup input,
    .view-profile .list-group-item input
    {
        min-width: 100% !important;
    }
}



/* profile image */
.view-profile .parent-image 
{
    width: 260px;
    height: 260px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
    position: relative;
}
.view-profile .parent-image img
{
    text-align: center;
    border: 3px solid #57c304;
    padding: 3px;
    border-radius: 50%;
    width: 260px;
    height: 260px;
}

/* file upload */
.view-profile .parent-image p-fileupload
{
    position: absolute;
    bottom: 28px;
    right: 11px;
}
.view-profile .parent-image p-fileupload .ui-fileupload-choose 
{
    height: 30px;
    width: 44px;
    background: #6edd19;
    border-color: #6edd19;
}
.view-profile .parent-image p-fileupload .ui-fileupload-choose:hover 
{
    background: #57c304;
    border-color: #57c304;
}
.view-profile .parent-image p-fileupload .ui-fileupload-choose .fa-plus
{
    font-size: 20px;
    text-align: center;
}
.view-profile .parent-image p-fileupload .ui-fileupload-choose .fa-plus::before {
    content: "\f030";
}
