/* fonts */
@font-face {
    font-family: Poppins-Regular;
    src: url('./../assets/fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
    font-family: Poppins-Bold;
    src: url('./../assets/fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
    font-family: Poppins-Medium;
    src: url('./../assets/fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('./../assets/fonts/montserrat/Montserrat-Bold.ttf'); 
}
/* ./fonts */


/* center child */
.center-child-in-laptop
{
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

    justify-content: center;
    align-items: center;
}
/* center child in phone */
@media (max-width: 768px) {
    .center-child-in-phone
    {
        display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
        display: -ms-flexbox;  /* TWEENER - IE 10 */
        display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
        display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */

        justify-content: center;
        align-items: center;
    }
}


/* content */
section.content
{
    min-height: calc(100vh - 101px)
}


/* text focus */
.ui-inputtext:focus
{
    box-shadow: 0 0 5px #5fc00c;
}


/* scroll btn */
.scroll-top-btn.scroll-top-btn-hide
{
    right: -45px;
    -webkit-transition: right 0.4s  ease;
    -moz-transition: right 0.4s  ease;
    -o-transition: right 0.4s  ease;
    transition: right 0.4s  ease;
}
.scroll-top-btn.scroll-top-btn-show
{
    right: 20px;
    -webkit-transition: right 0.4s  ease;
    -moz-transition: right 0.4s  ease;
    -o-transition: right 0.4s  ease;
    transition: right 0.4s  ease;
}
.scroll-top-btn
{
    right: -45px;
    border-radius: 50%;
    padding: 20px;
    background: #6edd19 !important;
    border-color: #6edd19 !important;
    position: fixed; 
    bottom: 55px; 
    height: 30px;
    width: 36px;
    -webkit-transition: right 0.4s  ease;
    -moz-transition: right 0.4s  ease;
    -o-transition: right 0.4s  ease;
    transition: right 0.4s  ease;
}
.scroll-top-btn:hover
{
    background: #57c304 !important;
    border-color: #57c304 !important;
}
.scroll-top-btn .fa
{
    color: #fff;
    font-size: 18px !important;
}



/* slide bar */
.skin-blue .sidebar-menu .treeview-menu > li.active > a,
.skin-blue .sidebar-menu .treeview-menu > li:hover > a
{
    color: #6edd19;
}