/* tap view */
p-tabview li.ui-state-default
{
    margin-right: 6px !important;
    font-weight: 400;
    color: #555;
}
p-tabview .tap-view-all .ui-tabview-title {
    color: #696666;
    font-weight: 600;
    letter-spacing: .6px;
    padding-right: 7px;
}
p-tabview  .tap-view-all .ui-tabview-left-icon {
    text-align: center;
    width: 30px;
    color: #6edd19;
    font-size: 18px;
}
