/* tap body */
.tap-body 
{
    min-height: 500px;
}


/*
  gender
*/
.gender ::ng-deep .ui-dropdown
{
  background: #DDD !important;
  border-radius: 22px;
}
.gender ::ng-deep .ui-dropdown label
{
  background: #DDD !important;
  color: #9e9fa4 !important;
  padding-left: 20px !important;
  border-radius: 22px !important;
}
.gender ::ng-deep .ui-dropdown .ui-dropdown-trigger-icon
{
  padding-top: 4px;
}
.gender ::ng-deep .ui-state-focus
{
  box-shadow: 0 0 5px #6edd19;
}
.gender ::ng-deep .ui-corner-right
{
  padding-top: 10px;
  background: transparent;
  padding-right: 27px;
}
.gender  ::ng-deep .ui-dropdown-item.ui-corner-all
{
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  color: #6edd19;
  transition: padding 0.5s  ease;
  -webkit-transition: padding 0.5s  ease;;
  -moz-transition: padding 0.5s  ease;;
  -o-transition: padding 0.5s  ease;;
}
.gender  ::ng-deep .ui-dropdown-item.ui-state-highlight
{
  color: #FFF;
  background: #6edd19;
}
.gender  ::ng-deep .ui-dropdown-item.ui-corner-all:not(.ui-state-highlight):hover
{
  color: #6edd19;
  padding-left: 17px
}



.input-mask ::ng-deep  .ui-inputtext
{
  border-radius: 22px;
}



/* icon block */
.fa.icon-block{
  position: absolute;
  top: 11px;
  right: 30px;
  font-size: 19px;
  color: red;
  cursor: pointer;
}
