
<div class="row __view_user view-profile" *ngIf="user">
    <div class="col-md-12">

        <!-- user   -->
        <div class="panel panel-default ">

            <div class="panel-heading">
                <h2 class="panel-title text-center"> 
                    {{ user.profile.firstName + ' ' + user.profile.lastName  }}
                </h2>
                <i (click)='blockThisUser()' *ngIf="user.profile.isActive && isSuperEmployee" pTooltip="Block This User"  class="fa icon-block fa-ban"></i>
            </div>

            <!-- panel -->
            <div class="panel-body">
                <div class="row">
                    
                    <!-- image -->
                    <div class=" col-md-12 text-center">
                        <div class="parent-image">

                            <img  
                            onError="this.src='/assets/images/no-image.png'" 
                            alt="profile image" class="img-thumbnail" src="{{
                                user.profile.profileImage ? userUrl + '/' + user.profile.profileImage : '/assets/images/no-user-image.png'
                            }}">
                    
                            <p-fileUpload 
                                *ngIf="isSuperEmployee"
                                customUpload="true" 
                                #form
                                (uploadHandler)="addImage($event , form)"
                                mode="basic" 
                                name="demo[]" 
                                accept="image/*" 
                                maxFileSize="1000000" 
                                auto="true" 
                                chooseLabel=""
                            >
                            </p-fileUpload>
                        </div>
                    </div>

                    <!-- list info -->
                    <div class=" col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0 ">
                        <ul class="list-group">

                            <!-- First Name -->
                            <li class="list-group-item">
                                
                                <div >
                                    <i class="fa fa-user"></i>  
                                    <strong>First Name : </strong> 

                                    <div *ngIf="edit.firstName" class="ui-inputgroup">
                                        <input type="text" value="{{ user.profile.firstName }}" #firstName pInputText >
                                        <button (click)='editUser( "firstName" , firstName.value )' pButton pTooltip="Save" type="button" icon="fa-edit" class="ui-button-primary"></button>      
                                    </div>

                                    <span *ngIf="!edit.firstName">
                                        {{user.profile.firstName }}
                                    </span>
                                </div>

                                <i *ngIf="isSuperEmployee" class="fa fa-edit" tooltipPosition="top" pTooltip="Edit" (click)='edit.firstName = !edit.firstName' ></i>

                            </li>
                        
                            <!-- Last Name -->
                            <li class="list-group-item">
                            
                                <div >
                                    <i class="fa fa-user"></i>  
                                    <strong>Last Name : </strong> 

                                    <div *ngIf="edit.lastName" class="ui-inputgroup">
                                        <input type="text" value="{{ user.profile.lastName }}" #lastName pInputText >
                                        <button (click)='editUser( "lastName" , lastName.value )' pButton pTooltip="Save" type="button" icon="fa-edit" class="ui-button-primary"></button>      
                                    </div>

                                    <span *ngIf="!edit.lastName">
                                            {{ user.profile.lastName }}
                                    </span>
                                </div>

                                <i  *ngIf="isSuperEmployee" class="fa fa-edit" tooltipPosition="top" pTooltip="Edit" (click)='edit.lastName = !edit.lastName' ></i>

                            </li>

                            <!-- gender -->
                            <li class="list-group-item" >
                                
                                <div>
                                    <i class="fa fa-superpowers"></i> 
                                    <strong> Gender : </strong> 
                                    
                                    <div *ngIf="edit.gender" class="ui-inputgroup gender">
                                        <p-dropdown 
                                            [options]="genders" 
                                            [style]="{'min-width':'100%'}"
                                            placeholder="Gender"
                                            [(ngModel)]="user.profile.gender"
                                        ></p-dropdown>
                                        <button  (click)='editUser( "gender" , user.profile.gender )'  pButton pTooltip="Save" type="button" icon="fa-edit" class="ui-button-primary" style="padding-bottom: 4px;padding-top: 1px" ></button>      
                                    </div> 

                                    <span *ngIf="!edit.gender">
                                        {{ user.profile.gender }}
                                    </span> 
                                </div>

                                <!-- <i class="fa fa-edit" tooltipPosition="top" pTooltip="Edit" (click)='edit.gender = !edit.gender' ></i> -->
                                
                            </li>

                            <!-- birthdate -->
                            <li class="list-group-item" >
                                <div>
                                    <i class="fa fa-birthday-cake"></i>  
                                    <strong> Birthdate : </strong>

                                    <div *ngIf="edit.birthdate" class="input-mask ui-inputgroup">
                                        <p-inputMask  
                                            mask="9999/99/99"
                                            slotChar="yyyy/mm/dd"
                                            #birthdate    
                                        >
                                        </p-inputMask>
                                        <button (click)='editUser( "birthdate" , birthdate.value )' pButton pTooltip="Save" type="button" icon="fa-edit" class="ui-button-primary"></button>      
                                    </div>
                                    <span *ngIf="!edit.birthdate">
                                        {{ user.profile.birthdate }}
                                    </span>
                                </div>

                                <i  *ngIf="isSuperEmployee" class="fa fa-edit" tooltipPosition="top" pTooltip="Edit" (click)='edit.birthdate = !edit.birthdate' ></i>
                            </li>
        
                            <!-- description -->
                            <li class="list-group-item" >
                                <div>
                                    <i class="fa fa-bullhorn"></i>  
                                    <strong> Description : </strong>

                                    <div *ngIf="edit.description" class="ui-inputgroup">
                                        <input type="text" value="{{user.profile.description}}" #description pInputText >
                                        <button  (click)='editUser( "description" , description.value )'  pButton pTooltip="Save" type="button" icon="fa-edit" class="ui-button-primary"></button>      
                                    </div>
                                    <span *ngIf="!edit.description">
                                        {{user.profile.description}}  
                                    </span>
                                </div>

                                <i  *ngIf="isSuperEmployee" class="fa fa-edit" tooltipPosition="top" pTooltip="Edit" (click)='edit.description = !edit.description' ></i>
                            </li>

                            <!-- email -->
                            <li class="list-group-item" >
                                
                                <div>
                                    <i class="fa fa-envelope"></i>  
                                    <strong> Email : </strong> 

                                    <div *ngIf="edit.email" class="ui-inputgroup">
                                        <input type="text" value="{{ user.email}}" #email pInputText >
                                        <button  (click)='editUser( "email" , email.value )' pButton pTooltip="Save" type="button" icon="fa-edit" class="ui-button-primary"></button>      
                                    </div>
                        
                                    <span  *ngIf="!edit.email">
                                        {{user.email}}
                                    </span> 
                                </div>

                                <i  *ngIf="isSuperEmployee" class="fa fa-edit" tooltipPosition="top" pTooltip="Edit" (click)='edit.email = !edit.email' ></i>
                                        
                            </li>

                            <!-- mobileNumber -->
                            <li class="list-group-item" >

                                <div>
                                    <i class="fa fa-phone"></i> 
                                    <strong> Mobile Number : </strong> 
                                    
                                    <div *ngIf="edit.mobileNumber" class="ui-inputgroup">
                                        <input type="text" value="{{user.mobileNumber}}" #mobileNumber pInputText >
                                        <button  (click)='editUser( "mobileNumber" , mobileNumber.value )' pButton pTooltip="Save" type="button" icon="fa-edit" class="ui-button-primary"></button>      
                                    </div> 

                                    <span *ngIf="!edit.mobileNumber">
                                        {{user.mobileNumber}}
                                    </span> 
                                </div>

                                <!-- <i class="fa fa-edit" tooltipPosition="top" pTooltip="Edit" (click)='edit.mobileNumber = !edit.mobileNumber' ></i> -->

                            </li>

                            <!-- education -->
                            <li class="list-group-item" >
                                <div>
                                    <i class="fa fa-graduation-cap"></i>  
                                    <strong> Education : </strong> 
                                    <div *ngIf="edit.education" class="ui-inputgroup">
                                        <input type="text" value="{{ user.profile.education}}" #education pInputText >
                                        <button   (click)='editUser( "education" , education.value )'  pButton pTooltip="Save" type="button" icon="fa-edit" class="ui-button-primary"></button>      
                                    </div>
                                    <span *ngIf="!edit.education">
                                        {{user.profile.education}}
                                    </span> 
                                </div>

                                <i  *ngIf="isSuperEmployee" class="fa fa-edit" tooltipPosition="top" pTooltip="Edit" (click)='edit.education = !edit.education' ></i>
                            </li>
                            
                            <!-- job title -->
                            <li class="list-group-item" >
                                <div>
                                    <i class="fa fa-address-card"></i>  
                                    <strong> Job Title : </strong> 
                                    <div *ngIf="edit.jobTitle" class="ui-inputgroup">
                                        <input type="text" #jobTitle value="{{ user.profile.jobTitle}}" pInputText >
                                        <button  (click)='editUser( "jobTitle" , jobTitle.value )'  pButton pTooltip="Save" type="button" icon="fa-edit" class="ui-button-primary"></button>      
                                    </div>
                                    <span *ngIf="!edit.jobTitle">
                                            {{ user.profile.jobTitle}}
                                    </span> 
                                </div>

                                <i  *ngIf="isSuperEmployee" class="fa fa-edit" tooltipPosition="top" pTooltip="Edit" (click)='edit.jobTitle = !edit.jobTitle' ></i>
                            </li>
                
                            <!-- country -->
                            <li class="list-group-item" >
                                
                                <div>
                                    <i class="fa fa-flag"></i>  
                                    <strong> Country : </strong> 

                                    <div *ngIf="edit.country" class="ui-inputgroup">
                                        <input type="text" #country value="{{user.profile.country}}" pInputText >
                                        <button  (click)='editUser( "country" , country.value )'  pButton pTooltip="Save" type="button" icon="fa-edit" class="ui-button-primary"></button>      
                                    </div>
                        
                                    <span *ngIf="!edit.country">
                                        {{user.profile.country}}
                                    </span> 
                                </div>

                                <i  *ngIf="isSuperEmployee" class="fa fa-edit" tooltipPosition="top" pTooltip="Edit" (click)='edit.country = !edit.country' ></i>
                            </li>

                            <li class="list-group-item" >
                                <div>
                                    <i class="fa fa-sign-in"></i>  
                                    <strong> Register In : </strong> 

                                    <span>
                                        {{user.profile.createdAt | date }}
                                    </span> 
                                </div>
                            </li>

                        </ul>
                    </div>
                    <!-- ./list info -->

                </div>
            </div>
            <!-- ./panel -->

        </div>
        <!-- ./user   -->

    </div>
</div>
    
<!-- tap -->
<p-tabView styleClass='tap-view-all' *ngIf="user">

    <p-tabPanel header="Story" leftIcon="fa-envira"  >
        <div class="tap-body">
            <!-- <app-user-posts></app-user-posts> -->
            <app-user-story></app-user-story>
        </div>
    </p-tabPanel>
    
    <p-tabPanel header="Media" leftIcon="fa-image"  >
        <ng-template pTemplate="content">
            <div class="tap-body">
                <app-user-media></app-user-media>
            </div>
        </ng-template>
    </p-tabPanel>

    <p-tabPanel header="Posts" leftIcon="fa-newspaper-o"  >
        <ng-template pTemplate="content">
            <div class="tap-body">
                <app-user-posts></app-user-posts>
            </div>
        </ng-template>
    </p-tabPanel>

    <p-tabPanel  header="Contacts" leftIcon="fa-address-book" >
        <ng-template pTemplate="content">
            <div class="tap-body">
                <app-user-contact></app-user-contact>
            </div>
        </ng-template>
    </p-tabPanel>

    <p-tabPanel header="Charts" leftIcon="fa-pie-chart"   >
        <ng-template pTemplate="content">
            <div class="tap-body">
                <app-user-chart></app-user-chart>
            </div>
        </ng-template>
    </p-tabPanel>

    <p-tabPanel header="Location" leftIcon="fa-globe">
        <ng-template pTemplate="content">
            <div class="tap-body">
                <app-user-location></app-user-location>
            </div>
        </ng-template>
    </p-tabPanel>

</p-tabView>
<!-- ./tap -->















