
  <!-- helpers -->
  <div class="row ">
    
    <div class="ui-helper-clearfix">
      <div class="ui-g">
              
        <div class="ui-g-12 ui-md-4">
          <!-- <p-dropdown 
            [options]="filterOptions"  
            placeholder="Filter By" 
            (onChange)="filterOnChange($event)" 
            [autoWidth]="false" 
            [style]="{'min-width':'15em'}"
            [(ngModel)]="filterModel"
            >
          </p-dropdown> -->
        </div>
        
        <div class="ui-g-12 ui-md-4 users-around-world-map-autoComplete-parent">
          <p-autoComplete 
            [suggestions]="SearchFilteredCountries"
            (completeMethod)="autoCompleteEvents.completeMethod($event)"  
            (onClear)='autoCompleteEvents.onClear()'
            [size]="30"
            [minLength]="1" 
            [(ngModel)]="autoComplete" 
            field="name" 
            (onSelect)='autoCompleteEvents.onSelect($event)'
            placeholder="Search By Country Name" 
            [dropdown]="true" >

              <ng-template let-country pTemplate="item">
                  <div class="ui-helper-clearfix" style="border-bottom:1px solid #D5D5D5">
                      <img src="http://www.geonames.org/flags/x/{{country.code.toLowerCase()}}.gif"  style="width:32px;display:inline-block;margin:5px 0 2px 5px"/>
                      <div style="font-size:18px;float:right;margin:10px 10px 0 0">
                        {{country.name}}
                      </div>
                  </div>
              </ng-template>

          </p-autoComplete>
        </div>
            
        <div class="ui-g-12 ui-md-4">
        </div>          
              
              
      </div>
    </div>

  </div>
  <!-- ./helpers -->


  <!-- map parent -->
  <div class="row map-parent">


    <div class="col-md-12" >


      <!-- map details country-->
      <div *ngIf="mapDialogBoxType === 'country'" class="map-country-details panel panel-default">

          <div class="panel-heading">
            
            <p class="country-name" > 
              {{ selectedCountryDetails.name }} 
            </p>

            <i class="fa fa-times" (click)='closeDetails()'></i>

          </div>

          <div class="panel-body">

            <div class="item">
              <i class="fa fa-users" style="color:#2399e5" ></i>
              <strong>Total Users : </strong> 
              <span>
                  {{ selectedCountryDetails.totalUsers   }}
              </span>
            </div>

            <div class="item">
              <i class="fa fa-star" style="color:yellow"></i>
              <strong>Posts +5 : </strong>
              <span>
                {{selectedCountryDetails.posts5  }}
              </span>
            </div>


            <div class="item">
              <i class="fa fa-circle text-center" style="color:#359e36;"></i>
              <strong>Total Online : </strong>
              <span>
                {{selectedCountryDetails.totalOnline  }}
              </span>
            </div>

            
            <div class="item">
              <i class="fa fa-circle text-center" style="color:red"></i>
              <strong>Total Offline : </strong>
              <span>
                {{selectedCountryDetails.totalOffline  }}
              </span>
            </div>

            <div class="item">
              <div class="progress" style="background: red;height: 5px">
                <div class="progress-bar" role="progressbar"
                  aria-valuemin="0" 
                  aria-valuemax="100" 
                  [ngStyle]="{
                  'width': selectedCountryDetails.percent + 'px' , 
                  'background': '#359e36'
                }">
                </div>
              </div>
            </div>

          </div>
          
      </div>
      <!-- map details-->

      <!-- map details user-->
      <div *ngIf="mapDialogBoxType === 'user'" class="map-country-details panel panel-default">

          <div class="panel-heading">
            
            <p class="country-name" > 
              <a [routerLink]="['/view-users/'+ selectedUserDetails.id]"  >
                  {{ selectedUserDetails.profile.firstName +' ' + selectedUserDetails.profile.lastName  }} 
              </a>  
            </p>

            <i class="fa fa-times" (click)='closeDetails()'></i>

          </div>

          <div class="panel-body">

            <div class="row">
              <div class="col-md-12 text-center user-profile-image">
                <img  alt="profile image" class="img-thumbnail" src="{{
                  selectedUserDetails.profile.profileImage ? userUrl + '/' + selectedUserDetails.profile.profileImage : '/assets/images/no-user-image.png'
                }}">
              </div>
            </div>

            <div class="item">
              <i class="fa fa-user" style="color:#2399e5" ></i>
              <strong>Name : </strong>
              {{ selectedUserDetails.profile.firstName +' ' + selectedUserDetails.profile.lastName  }} 
            </div>

            <div class="item">
              <i class="fa fa-phone" style="color:green" ></i>
              <strong>Phone : </strong>
              {{ selectedUserDetails.mobileNumber   }}
            </div>
        
            <div class="item text-center">
              <strong  [ngStyle]="{color: selectedUserDetails.isOnline ? 'green' : 'red' }">
                {{ selectedUserDetails.isOnline ? "online" : "offline"   }}
              </strong>
            </div>



          </div>
          
      </div>
      <!-- map details user -->
      
         
   

      <!-- map -->
      <div id="usersAroundWorldMap">
      </div>
      <!-- map -->


    </div>


  </div>
  <!-- ./map parent -->
