.row 
{
    margin-left: 15px;     
    margin-right: 15px; 
}



/* map */
.map-parent
{

    background-color:#222e33;
    margin-top: 15px;
}
.map-parent
#usersAroundWorldMap
{
    width: 100%; 
    height : calc( 100vh - 130px );

}



/* map-details */

.map-parent > div 
{
    position: relative;
}
.map-parent > div > .map-country-details
{
    position: absolute;
    /* background: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.5); */
    height: 195px;
    width: 220px;
    right: 30px;
    top: 20px;
    z-index: 2
}
.map-parent > div > .map-country-details .panel-heading 
{
    padding-top: 5px;
    padding-bottom: 0px;
    position: relative;
} 
.map-parent > div > .map-country-details .panel-heading > .country-name 
{
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;

}
.map-parent > div > .map-country-details .panel-heading > .country-name > a
{
    color : #2399e5;
    cursor: pointer;
}
.map-parent > div > .map-country-details .panel-heading > .fa 
{
    position: absolute;
    font-size: 20px;
    right: 8px;
    top : 6px;
    color: red;
    cursor: pointer;
} 
.map-parent > div > .map-country-details .panel-body > .item 
{
    margin-top: 5px;
    margin-bottom: 5px;
} 
.map-parent > div > .map-country-details .panel-body > .item > .fa 
{
    width: 18px;
    margin-right: 5px;
    font-size: 18px;
} 
.map-parent > div > .map-country-details .panel-body > .item > .fa-circle 
{
    font-size: 12px;
    margin-right: 2px;
} 
.map-parent > div > .map-country-details .panel-body > .item > strong
{
    margin-right: 2px;
} 

.map-parent > div > .map-country-details .panel-body .user-profile-image img
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #60c307;
    padding: 2px;
}





/* autoComplete input and btn */
::ng-deep .users-around-world-map-autoComplete-parent .ui-button-text.ui-clickable
{
    height: 27px !important;
}
::ng-deep .users-around-world-map-autoComplete-parent .ui-autocomplete-dropdown 
{
    background: #6edd19 !important;
    border-color: #6edd19 !important;
    margin-left: -38px;
    border-radius: 0px 22px 22px 0px;
    padding: 5px 37px 5px 0;
    margin-top: 0px;
}
::ng-deep .users-around-world-map-autoComplete-parent .ui-autocomplete-dropdown:hover 
{
    background: #57c304 !important;
    /* border-color: #57c304 !important;  */
    border: 0
}
::ng-deep .users-around-world-map-autoComplete-parent .ui-inputtext:focus
{
    box-shadow: 0 0 5px #6edd19 !important;
} 
::ng-deep .users-around-world-map-autoComplete-parent .ui-state-highlight
{
    background: #57c304 !important;
}


/* color country name */
::ng-deep .users-around-world-map-autoComplete-parent .ui-autocomplete-list-item
{
    color: #6edd19;
}
::ng-deep .users-around-world-map-autoComplete-parent .ui-state-highlight
{
    color: #fff !important;
}
::ng-deep .users-around-world-map-autoComplete-parent .ui-autocomplete-list-item div
{
    -webkit-transition: padding 0.5s  ease;
    -moz-transition: padding 0.5s  ease;
    -o-transition: padding 0.5s  ease;
    transition: padding 0.5s  ease;
}
::ng-deep .users-around-world-map-autoComplete-parent .ui-state-highlight div
{
    padding-right: 7px;
}


/* input  */
::ng-deep .users-around-world-map-autoComplete-parent .ui-inputtext
{
    padding: 9px;
    padding-left: 15px;
    border-radius: 22px;
    border-top-right-radius: 22px !important;
    border-bottom-right-radius: 22px !important;
    border: 0;
}

 
/* ./fix (users-around-world-map) p-autocomplete */
