
<!-- profile -->
<div class="row view-profile" *ngIf="employee">
    
    <div class="col-md-12">

        <!-- user   -->
        <div class="panel panel-default ">

            <div class="panel-heading">
                <h2 class="panel-title text-center"> 
                    {{employee.firstName + ' ' + employee.lastName}}  
                </h2>
            </div>

            <!-- panel -->
            <div class="panel-body">
                <div class="row">
                    
                    <!-- image -->
                    <div class=" col-md-12  text-center">
                        <div class="parent-image">

                            <img  alt="profile image" class="img-thumbnail" src="{{
                                employee.profilePic ? url + '/' + employee.profilePic : '/assets/images/no-user-image.png'
                            }}">
                    
                            <p-fileUpload 
                                customUpload="true" 
                                #form
                                (uploadHandler)="addImage($event , form)"
                                mode="basic" 
                                name="demo[]" 
                                accept="image/*" 
                                maxFileSize="1000000" 
                                auto="true" 
                                chooseLabel=""
                                tooltipPosition="top" pTooltip="Change Image"
                                >
                            </p-fileUpload>
                        </div>
                    </div>

                    <!-- list info -->
                    <div class=" col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0 ">
                        <ul class="list-group">

                            <!-- First Name -->
                            <li class="list-group-item">
                                
                                <div >
                                    <i class="fa fa-user"></i>  
                                    <strong style="width: 87px">First Name : </strong> 

                                    <div *ngIf="edit.firstName" class="ui-inputgroup">
                                        <input (keyup)='editEmployeeOnKeyUp( "firstName" , firstName.value , $event )' #firstName type="text" value="{{employee.firstName}}" pInputText >
                                        <button (click)='editEmployee("firstName" , firstName.value )' pButton pTooltip="Save" type="button" icon="fa-edit" class="ui-button-primary"></button>      
                                    </div>

                                    <span *ngIf="!edit.firstName">
                                        {{employee.firstName}}
                                    </span>
                                </div>

                                <i class="fa fa-edit" tooltipPosition="top" pTooltip="Edit" (click)='edit.firstName = !edit.firstName' ></i>

                            </li>
                        
                            <!-- Last Name -->
                            <li class="list-group-item">
                            
                                <div >
                                    <i class="fa fa-user"></i>  
                                    <strong style="width: 87px">Last Name : </strong> 

                                    <div *ngIf="edit.lastName" class="ui-inputgroup">
                                        <input (keyup)='editEmployeeOnKeyUp( "lastName" , lastName.value , $event )' #lastName type="text" value="{{employee.lastName}}" pInputText>
                                        <button (click)='editEmployee("lastName" , lastName.value )' pButton pTooltip="Save" type="button" icon="fa-edit" class="ui-button-primary"></button>      
                                    </div>

                                    <span *ngIf="!edit.lastName">
                                        {{ employee.lastName }}
                                    </span>
                                </div>

                                <i class="fa fa-edit" tooltipPosition="top" pTooltip="Edit" (click)='edit.lastName = !edit.lastName' ></i>

                            </li>

                            <!-- gender -->
                            <li class="list-group-item" >

                                <div>
                                    <i class="fa fa-superpowers"></i> 
                                    <strong style="width: 65px;"> Gender : </strong> 
                                    
                                    <div *ngIf="edit.gender" class="ui-inputgroup gender">
                                        <p-dropdown 
                                            [options]="genders" 
                                            [style]="{'min-width':'100%'}"
                                            placeholder="Gender"
                                            [(ngModel)]="employee.gender"
                                        ></p-dropdown>
                                        <button pButton  (click)='editEmployee("gender" , employee.gender )' style="padding-bottom: 4px;padding-top: 1px" pTooltip="Save" type="button" icon="fa-edit" class="ui-button-primary"></button>      
                                    </div> 
                                    <span *ngIf="!edit.gender">
                                        {{getGender( employee.gender)}}
                                    </span> 
                                </div>

                                <i class="fa fa-edit" tooltipPosition="top" pTooltip="Edit" (click)='edit.gender = !edit.gender' ></i>
                                
                            </li>

                            <!-- email -->
                            <li class="list-group-item" >
                                
                                <div>
                                    <i class="fa fa-envelope"></i>  
                                    <strong> Email : </strong> 

                                    <div *ngIf="edit.email" class="ui-inputgroup" > 
                                        <input (keyup)='editEmployeeOnKeyUp( "email" , email.value , $event )' type="text" #email value="{{employee.email}}" pInputText >
                                        <button  (click)='editEmployee("email" , email.value )' pButton pTooltip="Save" type="button" icon="fa-edit" class="ui-button-primary"></button>      
                                    </div>
                        
                                    <span  *ngIf="!edit.email">
                                        {{employee.email}}
                                    </span> 
                                </div>

                                <i class="fa fa-edit" tooltipPosition="top" pTooltip="Edit" (click)='edit.email = !edit.email' ></i>
                                        
                            </li>

                            <!-- mobileNumber -->
                            <li class="list-group-item" >

                                <div >
                                    <i class="fa fa-phone"></i> 
                                    <strong style="width: 119px;"> Mobile Number : </strong> 
                                    
                                    <div *ngIf="edit.mobileNumber" class="ui-inputgroup">
                                        <input (keyup)='editEmployeeOnKeyUp( "mobileNumber" , mobileNumber.value , $event )' #mobileNumber type="text" value="{{employee.mobileNumber}}" pInputText >
                                        <button (click)='editEmployee("mobileNumber" , mobileNumber.value )'  pButton pTooltip="Save" type="button" icon="fa-edit" class="ui-button-primary"></button>      
                                    </div> 

                                    <span *ngIf="!edit.mobileNumber">
                                        {{employee.mobileNumber}}
                                    </span> 
                                </div>

                                <i class="fa fa-edit" tooltipPosition="top" pTooltip="Edit" (click)='edit.mobileNumber = !edit.mobileNumber' ></i>
                                
                            </li>

                            <!-- password -->
                            <li class="list-group-item" >

                                <div >
                                    <i class="fa fa-lock"></i> 
                                    <strong style="width: 75px;"> Password : </strong> 
                                    
                                    <div style="position: relative;" *ngIf="edit.password" class="ui-inputgroup">
                                        <input (keyup)='editEmployeePasswordOnKeyUp(password.value , $event )' type="password" #password value="" pInputText >
                                        <button (click)='editEmployeePassword(password.value)' pButton pTooltip="Save" type="button" icon="fa-edit" class="ui-button-primary"></button>      
                                        <i 
                                            class="fa fa-eye"
                                            style="
                                                right: 44px;
                                                top: 6px;
                                                color: #6edd19;
                                                font-size: 17px;
                                                position: absolute;
                                                cursor: pointer;
                                            "
                                            (mouseenter)='password.type="text"'
                                            (mouseleave)='password.type="password"'
                                        ></i>
                                    </div> 

                                    <span *ngIf="!edit.password">
                                        *******
                                    </span> 
                                </div>

                                <i class="fa fa-edit" tooltipPosition="top" pTooltip="Edit" (click)='edit.password = !edit.password' ></i>
                                
                            </li>

                            <!-- salary -->
                            <li class="list-group-item" >
                                
                                <div>
                                    <i class="fa fa-usd"></i>  
                                    <strong> Salary : </strong> 

                                    <div *ngIf="edit.salary" class="ui-inputgroup">
                                        <input (keyup)='editEmployeeOnKeyUp( "salary" , salary.value , $event )' #salary type="text" value="{{employee.salary}}" pInputText >
                                        <button (click)='editEmployee("salary" , salary.value )'  pButton pTooltip="Save" type="button" icon="fa-edit" class="ui-button-primary"></button>      
                                    </div>
                        
                                    <span *ngIf="!edit.salary">
                                        {{ employee.salary }}
                                    </span> 
                                </div>

                                <!-- <i class="fa fa-edit" tooltipPosition="top" pTooltip="Edit" (click)='edit.salary = !edit.salary' ></i> -->
                            </li>
                            
                            <!-- groups -->
                            <li class="list-group-item" >
                                <div>

                                    <i class="fa fa-tasks"></i>  
                                    <strong> groups : </strong> 

                                    <div *ngIf="edit.groups" class="ui-inputgroup groups">
                                            <p-multiSelect 
                                                [maxSelectedLabels]='1'
                                                [options]="groups"
                                                [(ngModel)]="employee.groups" 
                                                [panelStyle]="{minWidth:'100%'}"
                                                filterPlaceHolder='Search'
                                                [style]="{width: '100%'}"
                                                defaultLabel='Choose Groups'
                                                scrollHeight='170px'
                                            >
                                            </p-multiSelect>

                                        <button (click)='editEmployee("groups" , employee.groups )' pButton pTooltip="Save" type="button" icon="fa-edit" class="ui-button-primary"></button>      
                                    </div>
                        
                                    <span *ngIf="!edit.groups">
                                        {{ getGroups( employee.groups) }}
                                    </span> 

                                </div>

                                <!-- <i class="fa fa-edit" tooltipPosition="top" pTooltip="Edit" (click)='edit.groups = !edit.groups' ></i> -->
                            </li>

                            <!-- roles -->
                            <li class="list-group-item" >
                                <div>

                                    <i class="fa fa-key"></i>  
                                    <strong> Roles : </strong> 

                                    <div *ngIf="edit.roles" class="ui-inputgroup groups">
                                            <p-multiSelect 
                                                [maxSelectedLabels]='1'
                                                [options]="roles"
                                                [(ngModel)]="employee.roles" 
                                                [panelStyle]="{minWidth:'100%'}"
                                                filterPlaceHolder='Search'
                                                [style]="{width: '100%'}"
                                                defaultLabel='Choose Roles'
                                                scrollHeight='170px'
                                            >
                                            </p-multiSelect>

                                        <button (click)='editEmployee("roles" , employee.roles )' pButton pTooltip="Save" type="button" icon="fa-edit" class="ui-button-primary"></button>      
                                    </div>
                        
                                    <span *ngIf="!edit.roles">
                                        {{ getRoles( employee.roles) }}
                                    </span> 

                                </div>

                                <!-- <i class="fa fa-edit" tooltipPosition="top" pTooltip="Edit" (click)='edit.roles = !edit.roles' ></i> -->
                            </li>
                                



                        </ul>
                    </div>
                    <!-- ./list info -->

                </div>
            </div>
            <!-- ./panel -->

        </div>
        <!-- ./user   -->

    </div>
</div>
<!-- ./profile -->

