<div
    infiniteScroll
    [infiniteScrollDistance]="2" 
    [infiniteScrollUpDistance]="2" 
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
>
    
    <p-dataView 
        [value]="employees" 
        [paginator]="false" 
        emptyMessage=''
    >

        <p-header>

            <div class="ui-helper-clearfix dataview-header">
                <div class="ui-g">
                    
                    <div class="ui-g-12 ui-md-4  center-child-in-phone data-view-filter">
                        
                        <p-dropdown 
                            [options]="filterOptions"  
                            (onChange)="filterOnChange($event)" 
                            [autoWidth]="false" 
                            [style]="{'min-width':'80%'}"
                            [(ngModel)]="filterModel"
                            [disabled]='searchMode'
                            >
                        </p-dropdown>

                    </div>
                    

                    <div class="center-child-in-laptop ui-g-12 ui-md-4 dataview-search">
                        <div class="ui-inputgroup">
                            <input type="text" pInputText placeholder="Search" [(ngModel)]="searchModel" (keyup)='searchKeyUp($event)' >
                            <button pButton type="button" icon="fa-search"  (click)="Search()" ></button>
                            <button pButton class="search-close-btn" type="button" icon="fa-close" *ngIf="searchMode" (click)="closeSearch()"></button>
                        </div>
                    </div>


                    <div *ngIf="isSuperEmployee" class="center-child-in-laptop ui-g-12 ui-md-3 dataview-add-btn">
                        <button pButton type="button" icon="fa-plus"  style="margin-top:0" label='Add' [routerLink]="['/employees/add-employee']" ></button>
                    </div>

                    <div class="center-child-in-phone dataViewLayoutOptions ui-g-12 ui-md-1" style="text-align:right">
                        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                    </div>

                </div>
            </div>
        </p-header>

        <ng-template let-employee pTemplate="listItem">

            <div class="ui-g data-view-detail-list"  style="padding: 2em;border-bottom: 1px solid #d9d9d9">
                
                <div class="ui-g-12 ui-md-3" style="text-align:center">
                    <img  alt="profile image" class="img-thumbnail" src="{{
                        employee.profilePic ? url + '/' + employee.profilePic : '/assets/images/no-user-image.png'
                    }}">
                </div>
                
                <div class="ui-g-12 ui-md-8">
                    <div class="ui-g">

                        <div class="ui-g-12 item">
                            <i class="fa fa-user"></i>
                            <strong>
                                Name : 
                            </strong>
                            <span>
                                {{ employee.firstName + ' ' + employee.lastName }}
                            </span>
                        </div>



                        <div class="ui-g-12 item">
                            <i class="fa fa-envelope"></i>
                            <strong>
                                Email :
                            </strong>
                            <span>
                                {{ employee.email }}
                            </span>
                        </div>

                        <div class="ui-g-12 item">
                            <i class="fa fa-phone"></i>
                            <strong>
                                Mobile Number : 
                            </strong>
                            <span>
                                {{ employee.mobileNumber }}
                            </span>
                        </div>

                        <div class="ui-g-12 item">
                            <i class="fa fa-tasks"></i>
                            <strong>
                                Groups : 
                            </strong>
                            <span>
                                {{ getGroups( employee.groups) }}
                            </span>
                        </div>


                        <div class="ui-g-12 item">
                            <i class="fa fa-circle"></i>
                            <strong >
                                Online :
                            </strong>
                            <span [ngStyle]="{color: employee.online?'green' : 'red'}" >
                                {{ employee.online ? 'Yes' : 'No'}}
                            </span>
                        </div>

                    </div>
                </div>

                <div class=" center-child-in-phone ui-g-12 ui-md-1 data-view-right-click-icon">
                    <button tooltipPosition="top" pTooltip="View profile" pButton type="button" [routerLink]="['/employees/view', employee._id]" icon="fa-tasks" ></button>
                </div>
                
            </div>

        </ng-template>

        <ng-template let-employee pTemplate="gridItem">

            <div style="padding:.5em" class="ui-g-12 ui-md-3  data-view-detail-grid">
                <p-panel [header]="employee.firstName + ' ' +employee.lastName " [style]="{'text-align':'center'}">

                    <img  alt="profile image" class="img-thumbnail" src="{{
                        employee.profilePic ? url + '/' + employee.profilePic : '/assets/images/no-user-image.png'
                    }}">

                    <div class="grid-parent">
                        
                        <p>
                            <strong> Email : </strong>
                            {{employee.email }}
                        </p>
                        
                        <p>
                            <strong>Mobile Number : </strong>
                            {{ employee.mobileNumber }}
                        </p>
                               
                        <p>
                            <strong>Groups : </strong>
                            {{ getGroups( employee.groups) }}
                        </p>
                        
                        <p>
                            <strong [ngStyle]="{color: employee.online?'green' : 'red'}" >
                                {{ employee.online ? 'Online'  : "Offline" }}    
                            </strong>
                        </p>
                    </div>
                    <hr class="ui-widget-content" style="border-top:0">
                    <div class="data-view-right-click-icon">
                        <button tooltipPosition="top" pTooltip="View profile" pButton type="button" icon="fa-tasks" [routerLink]="['/employees/view', employee._id]" style="margin-top:0"></button>
                    </div>
                </p-panel>
            </div>
        </ng-template>

        <p-footer>
            <div *ngIf='loading' class="ui-helper-clearfix">
                <div class="ui-g center-child-in-laptop">
                    <img src="/assets/images/ajax-loader.gif" class="img-responsive" alt="Image">
                </div>
            </div>
            <div *ngIf='!loading' class="ui-helper-clearfix">
                <div class="ui-g center-child-in-laptop">
                    <p style="margin-bottom: 0;padding-bottom: 0" class="lead">
                        {{ 'Employees Length : ' + employeesLength }}
                    </p>
                </div>
            </div>
        </p-footer>
        
    </p-dataView>

</div>
    
<button class="scroll-top-btn" (click)='scrollToTop()' pButton type="button" icon="fa-chevron-up" ></button>
