.navbar-custom-menu  .navbar-nav
{
    margin-right: 40px;
}

.navbar-custom-menu  .navbar-nav .user-header
{
    background: #6edd19
}

/* navbar */
.main-header .navbar-static-top {
    background-color: #6edd19 !important ;
}

.main-header .logo {
    background-color: #57c304 !important;
}
.sidebar-menu > li.active > a {
    border-left-color: #6edd19;
}

/* icons */
.sidebar-menu>li>a.active>.fa,
.sidebar-menu>li>a.active>.glyphicon, 
.sidebar-menu>li>a.active>.ion
{
    color : #6edd19
}

/* active item in left navbar */
.sidebar-menu > li:hover > a, 
.sidebar-menu > li.active > a, 
.sidebar-menu > li.menu-open > a
{
    color: #6edd19
}

/* toggle right anv */
.sidebar-toggle:hover
{
    background-color: #57c304 !important;
}

