<div class="wrapper">

    <header class="main-header">
    
        <!-- Logo -->
        <div class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini">Logo</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg">Logo</span>
        </div>
    
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
        
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
    
            <div *ngIf="isSignin()" class=" navbar-right navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li style="font-size: 16px"  class="dropdown notifications-menu">
                        <a class="dropdown-toggle" (click)='signout()' style="cursor: pointer;">
                            <i style="margin-right: 5px" class="fa fa-sign-out"></i>
                            <span>Sign Out</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div *ngIf="isSignin()" class=" navbar-left navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li style="font-size: 16px"  class="dropdown notifications-menu">
                        <a class="dropdown-toggle" (click)='back()' style="cursor: pointer;">
                            <i style="margin-right: 5px" class="fa fa-chevron-left"></i>
                            <span>Back</span>
                        </a>
                    </li>
                </ul>
            </div>
            
    
        </nav>
    </header>
    
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">


            <br>
    
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu" data-widget="tree">
    
                <li *ngIf="isSignin()" [ngClass]="{ 'active': routerLinkActive_myProfile.isActive}">
                    <a #routerLinkActive_myProfile="routerLinkActive" routerLinkActive="active"  [routerLink]="['/my-profile']" ><i class="fa fa-user"></i> <span>My Profile</span></a>
                </li>

                <li *ngIf="isSignin()" [ngClass]="{ 'active': routerLinkActive_home.isActive}">
                    <a #routerLinkActive_home="routerLinkActive" routerLinkActive="active"  [routerLink]="['/home']" ><i class="fa fa-home"></i> <span>Home</span></a>
                </li>
    
                <li *ngIf="isSignin() && checkGroups([ 0 ])"  [ngClass]="{ 'active': routerLinkActive_usersAroundTheWorld.isActive}">
                    <a #routerLinkActive_usersAroundTheWorld="routerLinkActive" routerLinkActive="active"  [routerLink]="['/users-around-the-world']" ><i class="fa fa-pie-chart"></i> <span>Users Around The World</span></a>
                </li>
                
                <li *ngIf="isSignin() && checkGroups([ 0 ]) "  [ngClass]="{ 'active': rla_viewUsers.isActive}">
                    <a #rla_viewUsers="routerLinkActive" routerLinkActive="active"  [routerLink]="['/view-users']" ><i class="fa fa-users"></i> <span>View Users</span></a>
                </li>  

    
                 <li *ngIf="isSignin() && checkGroups([ 0 ])" [ngClass]="{ 'active': rla_employees.isActive}">
                    <a #rla_employees="routerLinkActive" routerLinkActive="active"  [routerLink]="['/employees']" ><i class="fa fa-tasks"></i> <span>View Employees</span></a>
                </li>
                


                <li  *ngIf="isSignin() && checkGroups([ 0 , 1  ])" [ngClass]="{ 'active': rla_advertisements_users.isActive || rla_advertisements_employees.isActive || rla_advertisements_map.isActive }"    class="treeview">
                   
                    <a style="cursor: pointer;">
                      <i class="fa fa-buysellads"></i> <span>Advertisements</span>
                      <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                      </span>
                    </a>

                    <ul class="treeview-menu" >
                        <li [ngClass]="{ 'active': rla_advertisements_users.isActive}"  >
                            <a #rla_advertisements_users="routerLinkActive" routerLinkActive="active" [routerLink]="['/advertisements/users']">
                                <i class="fa fa-users"></i> 
                                Users
                            </a>
                        </li>

                        <li [ngClass]="{ 'active': rla_advertisements_employees.isActive}" >
                            <a #rla_advertisements_employees="routerLinkActive" routerLinkActive="active" [routerLink]="['/advertisements/employees']" >
                                <i class="fa fa-tasks"></i> 
                                Employees
                            </a>
                        </li>


                        <li [ngClass]="{ 'active': rla_advertisements_map.isActive}" >
                            <a #rla_advertisements_map="routerLinkActive" routerLinkActive="active" [routerLink]="['/advertisements/map']" >
                                <i class="fa fa-pie-chart"></i> 
                                Map
                            </a>
                        </li>

                    </ul>
                </li>
                


                <li *ngIf="!isSignin()" [ngClass]="{ 'active': rla_signin.isActive}">
                    <a #rla_signin="routerLinkActive" routerLinkActive="active"  [routerLink]="['/signin']" ><i class="fa fa-sign-in"></i> <span>Signin</span></a>
                </li>
    
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    
    
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="position: relative;">
        <app-loading></app-loading>
        <app-images></app-images>
        <section class="content">
            <router-outlet></router-outlet> 
        </section>
    </div>
    <!-- /.content-wrapper -->
    
    
    <footer class="main-footer text-center">
        <strong>Copyright &copy; 2018-2019 </strong> 
    </footer>
    
    <!-- right slider -->
    
    
    </div>
    <!-- ./wrapper -->
    
    
    
    