<div class="row">

  <br>

  <div class="col-md-12">
    <div class="col-md-12 center-child-in-laptop advertisements-charts-calendar-range">

      <!-- <p-calendar placeholder='From - To' [showIcon]='true' icon='fa-calendar' [minDate]='minDate' [maxDate]='maxDate' [(ngModel)]="rangeDates" dateFormat="dd.mm.yy" selectionMode="range" readonlyInput="true"></p-calendar> -->
      <p-calendar placeholder='From - To' [showIcon]='true' icon='fa-calendar' [(ngModel)]="rangeDates" dateFormat="dd.mm.yy" selectionMode="range" readonlyInput="true"></p-calendar>
    
    </div>
  </div>  

  
  <div class="col-md-12">
    <p-chart [options]="chartOptions" type="line" [data]="Data" ></p-chart>
  </div>


</div>