<p-dataView 
    [value]="posts" 
    [paginator]="false"
    emptyMessage=''
>
    
    <p-header>
        <p class="text-center" style="margin-bottom: 0">
            Posts
        </p>
    </p-header>
    
    <ng-template  let-post pTemplate="listItem">

        <!-- post -->
        <div [ngStyle]="{'margin-bottom': post ? '20px' : '0px' }" class="post-parent" >
            
            
            <div *ngIf="!post.isShare" class="row">
                <div  class="col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0 post">


                    <!-- name and image -->
                    <div class="row">
                        <div class="col-md-12">

                            
                            <div class="name-and-image">
                                
                                <div class="col-md-2 image">
                                    <img  alt="profile image" class="img-thumbnail" 
                                        src="{{userUrl + '/' + post.user.profile.profileImage}}" 
                                        onError="this.src='/assets/images/no-user-image.png'" 
                                    >
                                </div>

                                <div class="col-md-10 name ">
                                    <p>{{post.user.profile.firstName + ' ' +post.user.profile.lastName }}</p>
                                    <p>{{ post.createdAt | timeAgo}}</p>
                                </div>
                                
                            </div>

                            <i class="fa fa-trash" tooltipPosition="top" (click)='deletePost(post.id)' pTooltip="Delete Post" ></i>
                            
                        </div>
                    </div>
                    <!-- ./name and image -->

                    <!-- body -->
                    <div class="row">
                        <div class="col-md-12 col-md-offset-0">
                            <div class="post-body">


                                <!-- images -->
                                <div *ngIf="post?.media[0]?.type == 'photo'" class="row comment-images text-center">
                                    <div  class="first-image-post  col-md-8 col-md-offset-2">
                                        <img  
                                            alt="profile image" 
                                            class="img-thumbnail" 
                                            src="{{userUrl + '/' + post?.media[0]?.url}}" 
                                            onError="this.src='/assets/images/no-image.png'" 
                                            style="max-height: 300px;"                                    
                                        >
                                        <i *ngIf="post.media.length > 1" class="fa fa-plus" (click)='showImages(post.media)' tooltipPosition="top" pTooltip="View More" ></i>
                                        
                                    </div>
                                </div>
                                <!-- ./images -->

                                 <!-- video -->
                                 <div *ngIf="post?.media[0]?.type == 'video'"  class="row comment-images text-center">
                                    <div  class="first-image-post  col-md-8 col-md-offset-2">
                                        <video 
                                            poster="{{userUrl + '/' +  post.media[0].thumbnails[0] }}"
                                            controls 
                                            style="height: 245px;" 
                                            class='img-thumbnail' 
                                            src="{{userUrl + '/' + post.media[0].url}}" >
                                        </video>
                                    </div>
                                </div>
                                <!-- ./video -->

                                 <!-- text -->
                                 <div class="row">
                                    <div class="col-md-12">
                                        <p class="lead lead-text-comment">
                                            {{post.text }}
                                        </p>
                                    </div>
                                </div>
                                <!-- ./text -->


                            </div>                        
                        </div>
                    </div>
                    <!-- ./body -->

                    <!-- bar -->
                    <div class="row">
                        <div class="col-md-12 col-md-offset-0">
                            <div class="post-bar">
                                <div class="col-md-4 col-xs-12 text-left">
                                    <button (click)='showLikes( post.id )' type="button" class="btn btn-default" >{{ post.counters.likesCount }} Likes</button>
                                </div>
                                <div class="col-md-4 col-xs-12 text-center">
                                    <button (click)='post.showReplies ? null : getReplies( post.id );'  type="button" class="btn btn-default" >{{post.counters.commentCount}} Comments</button>
                                </div>
                                <div class="col-md-4 col-xs-12 text-right">
                                    <button (click)='showShares( post.id  )'  type="button" class="btn btn-default" >{{post.counters.sharedCount}} Share</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ../bar -->

                    <!-- comments -->
                    <div class="row" *ngIf="post.showReplies">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="comments">


                                <!-- comment -->
                                <div class="comment" *ngFor="let replay of post.replaies">
                                    
                                    <!-- name and image -->
                                    <div class="row">    
                                        <div class="col-md-12">
                                            <div class="name-and-image">

                                                <div class="col-md-2 image">
                                                    <img  alt="profile image" class="img-thumbnail" 
                                                        src="{{userUrl + '/' + replay.user.profileImage}}" 
                                                        onError="this.src='/assets/images/no-user-image.png'" 
                                                    >
                                                </div>

                                                <div class="col-md-10 name ">
                                                    <p>{{ replay.user.firstName + ' ' +replay.user.lastName }}</p>
                                                    <p>{{ replay.createdAt | timeAgo}}</p>
                                                </div>
                                            </div>
        
                                            <i class="fa fa-trash" tooltipPosition="top" (click)='deleteReplay(post.id , replay.id , replay.user.id)' pTooltip="Delete Replay" ></i>
                                            
                                        </div>
                                    </div>
                                    <!-- ./name and image -->

                                    <!-- body -->
                                    <div class="row">
                                        <div class="col-md-12 col-md-offset-0">

                                            <!-- comment body -->
                                            <div class="post-body">

                                                <!-- images -->
                                                <div *ngIf="replay?.media[0]?.type == 'photo'" class="row comment-images text-center">
                                                    <div  class="first-image-post  col-md-8 col-md-offset-2">
                                                        <img  
                                                            alt="profile image" 
                                                            class="img-thumbnail" 
                                                            src="{{userUrl + '/' + replay?.media[0]?.url}}" 
                                                            onError="this.src='/assets/images/no-image.png'" 
                                                            style="max-height: 300px;"                                    
                                                        >
                                                        <i *ngIf="replay.media.length > 1" class="fa fa-plus" (click)='showImages(replay.media)' tooltipPosition="top" pTooltip="View More" ></i>
                                                        
                                                    </div>
                                                </div>
                                                <!-- ./images -->

                                                <!-- video -->
                                                <div *ngIf="replay?.media[0]?.type == 'video'"  class="row comment-images text-center">
                                                    <div  class="first-image-post  col-md-8 col-md-offset-2">
                                                        <video 
                                                            poster="{{userUrl + '/' +  replay.media[0].thumbnails[0] }}"
                                                            controls 
                                                            style="height: 245px;" 
                                                            class='img-thumbnail' 
                                                            src="{{userUrl + '/' + replay.media[0].url}}" >
                                                        </video>
                                                    </div>
                                                </div>
                                                <!-- ./video -->


                                                <!-- text -->
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p class="lead lead-text-comment">
                                                            {{replay.text }}
                                                        </p>
                                                    </div>
                                                </div>
                                                <!-- ./text -->
                    
                    
                                            </div>      
                                            <!-- ./comment body -->
                                                            
                                        </div>
                                    </div>
                                    <!-- ./body -->

                                    <!-- bar -->
                                    <div class="row">
                                        <div class="col-md-12 col-md-offset-0">
                                            <div class="post-bar">
                                                <div class="col-md-4 text-left">
                                                    <button  (click)='showLikes(replay.id)' type="button" class="btn btn-default" >{{ replay.counters.likesCount }}  Likes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ../bar -->
                                
                        

                                </div>
                                <!-- ./comment -->
                        

                                <div class="row">
                                    <div class="col-md-12 text-center" style="margin-top:5px ">
                                        <button class="load-more-btn" (click)='loadMoreReplaies( post.id )' type="text" icon="fa-refresh" pButton label="Load"></button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- ./comments -->


                </div>
            </div>
            
            
            <!-- share -->
            <div *ngIf="post.isShare" class="row">
                <div  class="col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0 post">


                    <!-- name and image -->
                    <div class="row">
                        <div class="col-md-12">

                            
                            <div class="name-and-image">
                                
                                <div class="col-md-2 image">
                                    <img  alt="profile image" class="img-thumbnail" 
                                        src="{{userUrl + '/' + post.user.profile.profileImage}}" 
                                        onError="this.src='/assets/images/no-user-image.png'" 
                                    >
                                </div>

                                <div class="col-md-10 name ">
                                    <p>{{post.user.profile.firstName + ' ' +post.user.profile.lastName }}</p>
                                    <p>{{ post.createdAt | timeAgo}}</p>
                                </div>
                                
                            </div>

                            <i class="fa fa-trash" tooltipPosition="top" (click)='deletePost(post.id)' pTooltip="Delete Post" ></i>
                            
                        </div>
                    </div>
                    <!-- ./name and image -->

                    <!-- body -->
                    <div class="row">
                        <div class="col-md-12 col-md-offset-0">
                            <div class="post-body">


                                <!-- original Status -->
                                <div style="
                                    padding: 9px 10px 0 10px;
                                    margin-bottom: 10px;
                                    border: 2px solid #dddddd;
                                ">


                                     <!-- name and image -->
                                    <div class="row" style="margin-bottom: 10px">
                                        <div class="col-md-12">

                                            
                                            <div class="name-and-image">
                                                
                                                <div class="col-md-2 image">
                                                    <img  alt="profile image" class="img-thumbnail" 
                                                        src="{{userUrl + '/' + post.originalStatus?.user.profile.profileImage}}" 
                                                        onError="this.src='/assets/images/no-user-image.png'" 
                                                    >
                                                </div>

                                                <div class="col-md-10 name " style="margin-left: -30px">
                                                    <p style="
                                                        outline: none;
                                                        color: #71afd2;
                                                        cursor: pointer;
                                                    "  [routerLink]="['/view-users', post.originalStatus?.user.id ]" >
                                                        {{ post.originalStatus?.user.profile.firstName + ' ' + post.originalStatus?.user.profile.lastName }}
                                                    </p>
                                                    <p>{{ post.originalStatus?.createdAt | timeAgo}}</p>
                                                </div>
                                                
                                            </div>

                                        </div>
                                    </div>
                                    <!-- ./name and image -->


                                    <!-- images -->
                                    <div *ngIf="post?.originalStatus?.media[0]?.type == 'photo'" class="row comment-images text-center">
                                        <div  class="first-image-post  col-md-8 col-md-offset-2">
                                            <img  
                                                alt="profile image" 
                                                class="img-thumbnail" 
                                                src="{{userUrl + '/' + post?.originalStatus?.media[0]?.url}}" 
                                                onError="this.src='/assets/images/no-image.png'" 
                                                style="max-height: 300px;"                                    
                                            >
                                            <i *ngIf="post.media.length > 1" class="fa fa-plus" (click)='showImages(post.originalStatus?.media)' tooltipPosition="top" pTooltip="View More" ></i>
                                            
                                        </div>
                                    </div>
                                    <!-- ./images -->

                                    <!-- video -->
                                    <div *ngIf="post?.originalStatus?.media[0]?.type == 'video'"  class="row comment-images text-center">
                                        <div  class="first-image-post  col-md-8 col-md-offset-2">
                                            <video 
                                                poster="{{userUrl + '/' +  post.originalStatus?.media[0].thumbnails[0] }}"
                                                controls 
                                                style="height: 245px;" 
                                                class='img-thumbnail' 
                                                src="{{userUrl + '/' + post?.originalStatus?.media[0].url}}" >
                                            </video>
                                        </div>
                                    </div>
                                    <!-- ./video -->

                                    <!-- text -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p style="margin-bottom: 8px;" class="lead lead-text-comment">
                                                {{post?.originalStatus?.text }}
                                            </p>
                                        </div>
                                    </div>
                                    <!-- ./text -->


                                </div>


                                <!-- my Status -->
                                <div>
                                    
                                    <!-- text -->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="lead lead-text-comment">
                                                {{post.text }}
                                            </p>
                                        </div>
                                    </div>
                                    <!-- ./text -->

                                </div>


                            </div>                        
                        </div>
                    </div>
                    <!-- ./body -->

                    <!-- bar -->
                    <div class="row">
                        <div class="col-md-12 col-md-offset-0">
                            <div class="post-bar">
                                <div class="col-md-4 col-xs-12 text-left">
                                    <button (click)='showLikes( post.id )' type="button" class="btn btn-default" >{{ post.counters.likesCount }} Likes</button>
                                </div>
                                <div class="col-md-4 col-xs-12 text-center">
                                    <button (click)='post.showReplies ? null : getReplies( post.id );'  type="button" class="btn btn-default" >{{post.counters.commentCount}} Comments</button>
                                </div>
                                <div class="col-md-4 col-xs-12 text-right">
                                    <button (click)='showShares( post.id  )'  type="button" class="btn btn-default" >{{post.counters.sharedCount}} Share</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ../bar -->

                    <!-- comments -->
                    <div class="row" *ngIf="post.showReplies">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="comments">


                                <!-- comment -->
                                <div class="comment" *ngFor="let replay of post.replaies">
                                    
                                    <!-- name and image -->
                                    <div class="row">    
                                        <div class="col-md-12">
                                            <div class="name-and-image">

                                                <div class="col-md-2 image">
                                                    <img  alt="profile image" class="img-thumbnail" 
                                                        src="{{userUrl + '/' + replay.user.profileImage}}" 
                                                        onError="this.src='/assets/images/no-user-image.png'" 
                                                    >
                                                </div>

                                                <div class="col-md-10 name ">
                                                    <p>{{ replay.user.firstName + ' ' +replay.user.lastName }}</p>
                                                    <p>{{ replay.createdAt | timeAgo}}</p>
                                                </div>
                                            </div>
        
                                            <i class="fa fa-trash" tooltipPosition="top" (click)='deleteReplay(post.id , replay.id , replay.user.id)' pTooltip="Delete Replay" ></i>
                                            
                                        </div>
                                    </div>
                                    <!-- ./name and image -->

                                    <!-- body -->
                                    <div class="row">
                                        <div class="col-md-12 col-md-offset-0">

                                            <!-- comment body -->
                                            <div class="post-body">

                                                <!-- images -->
                                                <div *ngIf="replay?.media[0]?.type == 'photo'" class="row comment-images text-center">
                                                    <div  class="first-image-post  col-md-8 col-md-offset-2">
                                                        <img  
                                                            alt="profile image" 
                                                            class="img-thumbnail" 
                                                            src="{{userUrl + '/' + replay?.media[0]?.url}}" 
                                                            onError="this.src='/assets/images/no-image.png'" 
                                                            style="max-height: 300px;"                                    
                                                        >
                                                        <i *ngIf="replay.media.length > 1" class="fa fa-plus" (click)='showImages(replay.media)' tooltipPosition="top" pTooltip="View More" ></i>
                                                        
                                                    </div>
                                                </div>
                                                <!-- ./images -->

                                                <!-- video -->
                                                <div *ngIf="replay?.media[0]?.type == 'video'"  class="row comment-images text-center">
                                                    <div  class="first-image-post  col-md-8 col-md-offset-2">
                                                        <video 
                                                            poster="{{userUrl + '/' +  replay.media[0].thumbnails[0] }}"
                                                            controls 
                                                            style="height: 245px;" 
                                                            class='img-thumbnail' 
                                                            src="{{userUrl + '/' + replay.media[0].url}}" >
                                                        </video>
                                                    </div>
                                                </div>
                                                <!-- ./video -->


                                                <!-- text -->
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p class="lead lead-text-comment">
                                                            {{replay.text }}
                                                        </p>
                                                    </div>
                                                </div>
                                                <!-- ./text -->
                    
                    
                                            </div>      
                                            <!-- ./comment body -->
                                                            
                                        </div>
                                    </div>
                                    <!-- ./body -->

                                    <!-- bar -->
                                    <div class="row">
                                        <div class="col-md-12 col-md-offset-0">
                                            <div class="post-bar">
                                                <div class="col-md-4 text-left">
                                                    <button  (click)='showLikes(replay.id)' type="button" class="btn btn-default" >{{ replay.counters.likesCount }}  Likes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ../bar -->
                                
                        

                                </div>
                                <!-- ./comment -->
                        

                                <div class="row">
                                    <div class="col-md-12 text-center" style="margin-top:5px ">
                                        <button class="load-more-btn" (click)='loadMoreReplaies( post.id )' type="text" icon="fa-refresh" pButton label="Load"></button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- ./comments -->


                </div>
            </div>


        </div>
        <!-- ./post -->
            

    </ng-template>
    

    <p-footer>
        <div *ngIf='loading' class="ui-helper-clearfix">
            <div class="ui-g center-child-in-laptop">
                <img src="/assets/images/ajax-loader.gif" class="img-responsive" alt="Image">
            </div>
        </div>
        <div *ngIf='!loading' class="ui-helper-clearfix">
            <div class="ui-g center-child-in-laptop">
                <button class="load-more-btn" (click)='onScroll()' type="text" icon="fa-refresh" pButton label="Load"></button>
            </div>
        </div>
    </p-footer>

</p-dataView>

<button class="scroll-top-btn" (click)='scrollToTop()' pButton type="button" icon="fa-chevron-up" ></button>

<!-- likes or shares -->
<div class="row" *ngIf="isShowLikesOrShares">
    <div class="col-md-5 overlay-posts col-md-offset-2" >

        <i (click)='closeShowLikesOrShares()' class="fa fa-close"></i>

        <div class="row">
            <div class="col-md-12 users-content-item">
        
                <!-- name and image -->
                <div class="row" *ngFor="let user of showLikesOrSharesData">
                    <div class="col-md-12">
                        <div class="name-and-image">
                            
                            <div class="col-md-2 image">
                                <img  alt="profile image" class="img-thumbnail" src="{{userUrl + '/' + user.img}}">
                            </div>

                            <div class="col-md-10 name ">
                                <p [routerLink]="['/view-users', user.id ]"  >{{user.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./name and image -->

                <div class="row">
                    <div class="col-md-12 text-center" style="margin-top:5px ">
                        <button class="load-more-btn" (click)='loadMoreLikesOrShares()' type="text" icon="fa-refresh" pButton label="Load"></button>
                    </div>
                </div>
                 
            </div>
        </div>

    </div>
</div>
 