.row 
{
    margin-right: 0;
    margin-left: 0;
}

.post-parent
{
    margin-top: 17px;
    margin-bottom: 20px;
}

.post
{
    position: relative;
    background: #DDD;
    border-radius: 7px;
    padding-top: 20px;
    padding-bottom: 20px;
}


.post-parent .fa-trash
{
    right: 9px;
    font-size: 20px;
    top: 13px;
    color: red;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    position: absolute;
    z-index: 2;
}


/* name and image */
.name-and-image .image img
{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #6edd19;
    padding: 2px;
}
.name-and-image .name
{
    margin-left: -50px;
    margin-top: 2px;
}
.name-and-image .name p:nth-child(1)
{
    margin: 0;
    padding: 0;
    font-size: 14px;
    width: 250px;
}
.name-and-image .name p:nth-child(2)
{
    margin: 0;
    padding: 0;
    font-size: 11px;
    color : gray;
    width: 250px;
}

/* body */
.post-body
{
    margin-top: 15px;
    border-radius: 5px;
    background: white;
    padding: 10px;
    margin-left: 26px;
    margin-right: 26px;
}


/* bar */
.post-bar 
{
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 8px;
}
.post-bar .btn:focus
{
    border: 0;
    outline: 0;
}
.post-bar  p 
{
    display: inline;
}
.post-bar > div
{
    margin-top: 5px;
}
@media (max-width: 768px) {
    .post-bar .col-xs-12.text-right, .col-xs-12.text-left {
            text-align: center;
     } 
  }


/* comment */
.comments
{
    /* height: 300px; */
    background: white;
    margin-top: 17px;
    overflow: auto;
    padding: 10px;
    border-radius: 5px;
}

.comments .comment
{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 7px;
    background: #DDD;
}
.comments .name-and-image .fa-trash
{
    top: 3px;
}

.comments .name-and-image .name
{
    margin-left: -25px;
}

.comments .post-bar .btn
{
    font-size: 11px
} 



/* replay to comments */
.replay .name-and-image .name
{
    margin-left: -33px;
}


/* view more images */
.first-image-post .fa.fa-plus {
    right: calc(50% - 25px);
    font-size: 50px;
    bottom: 20px;
    color: #57c304;
    opacity: 0.5;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    -webkit-transition: all 0.5s  ease;;
    -moz-transition: all 0.5s  ease;;
    -o-transition: all 0.5s  ease;;
    transition: all 0.5s  ease;
}
.first-image-post .fa-plus:hover 
{
    opacity: 1;
}


/* overlay */
.overlay-posts
{
    height: 380px;
    position: fixed;
    z-index: 100;
    top: 50px;
    background: #222d32;
    padding-top: 40px;
    padding-bottom: 25px;
    border-radius: 7px;
}
.overlay-posts .users-content-item
{
    overflow: auto;
    /* overlay-posts height - padding(top+bottom) */
    max-height: calc(380px - 35px - 25px); 
}
.overlay-posts .fa-close
{
    position: absolute;
    right: 16px;
    top: 8px;
    color: #DDD;
    cursor: pointer;
    font-size: 18px;
}

.overlay-posts .name-and-image
{
    margin-top: 7px;
    margin-bottom: 7px;
}
.overlay-posts .name-and-image .name 
{
    margin-left: -25px;
}

.overlay-posts .name-and-image .name p
{
    color: #71afd2;
    cursor: pointer;
    margin-top: 7px;
    outline: none;
}


/* slider brn color */
::ng-deep .slider-pro-stroy 
{
    margin: auto;
}
::ng-deep .overlay-posts  .sp-selected-button {
    background-color: #6edd19;
}
::ng-deep .overlay-posts  .sp-button {
    width: 12px;
    height: 12px;
    border: 2px solid #6edd19;
}
::ng-deep .overlay-posts .sp-slide .fa-trash
{
    right: 9px;
    font-size: 20px;
    top: 13px;
    color: red;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    position: absolute;
    z-index: 2;
}


/* comment images */
.comment-images > div
{
    margin-top: 0px;
    margin-bottom: 5px;
}
.comment-images > div > .fa-trash
{
    top: 15px;
    right: 20px;
}


/* laod more btn */
.load-more-btn
{
    background: #6edd19 !important;
    border-color: #6edd19 !important;
}
.load-more-btn:hover
{
    background: #57c304 !important;
    border-color: #57c304 !important;
}


/* text post - commet - replay */
.lead-text-post,
.lead-text-comment
{
    font-size: 14px
}
.lead-text-replay
{
    font-size: 13px
}
@media (max-width: 768px) {
    .lead-text-post,
    .lead-text-comment
    {
        font-size: 12px
    }
    .lead-text-replay
    {
        font-size: 11px
    }
}


