<div
    infiniteScroll
    [infiniteScrollDistance]="2" 
    [infiniteScrollUpDistance]="2" 
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
    id='employee_logs'
>

    <!-- title -->
    <div class="col-md-12">
        <h3 class="add-employee-title text-center">
            Employee Details
        </h3>
    </div>

    <p-dataTable [value]="logs" sortMode="multiple" styleClass='employee-profile-statistic'>
        
        <p-column field="date" header="Date" [sortable]="true">
            <ng-template let-row="rowData" pTemplate="body">
                {{ row.date }}
            </ng-template>   
        </p-column>

        <p-column field="from" header="From" [sortable]="true">
            <ng-template let-row="rowData" pTemplate="body">
                {{ row.from }}
            </ng-template>   
        </p-column>
        
        <p-column field="to" header="To" [sortable]="true" >
            <ng-template let-row="rowData" pTemplate="body" >
                {{row.to}}
            </ng-template>   
        </p-column>
        <p-column field="diff" header="Difference" [sortable]="true">
            <ng-template let-row="rowData" pTemplate="body">
                {{ row.diff }}
            </ng-template>   
        </p-column>
    </p-dataTable>

    <div *ngIf='loading' style="margin-top: 7px" class="ui-helper-clearfix">
        <div class="ui-g center-child-in-laptop">
            <img src="/assets/images/ajax-loader.gif" class="img-responsive" alt="Image">
        </div>
    </div>

</div>



<button class="scroll-top-btn" (click)='scrollToTop()' pButton type="button" icon="fa-chevron-up" ></button>
