::ng-deep .employee-profile-statistic .ui-cell-data
{
    letter-spacing: 0.5px;
    color: #686666;
}
::ng-deep .employee-profile-statistic  th.ui-state-active
{
    background: #6edd19;
    outline: 0;
}



/* title */
.add-employee-title
{
  margin-bottom: 25px;
  font-weight: bold;
  letter-spacing: .5px;
  margin-top: 20px;
}
::ng-deep .employee-profile-statistic .ui-datatable-data>tr>td
{
    text-align: center;
}