<div
    infiniteScroll
    [infiniteScrollDistance]="2" 
    [infiniteScrollUpDistance]="2" 
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
>

    <p-dataGrid 
        [value]="medias" 
        [paginator]="false" 
        emptyMessage=''
        styleClass='view-user-profile-media'
        *ngIf="medias"
        >

        <p-header>
            Media
        </p-header>
        
        <ng-template let-media pTemplate="item">

            <div style="padding:10px 5px" class="ui-g-12 ui-md-3">
                <p-panel  [header]='media.createdAt | date ' [style]="{'text-align':'center'}">
                    
                    <img 
                        onError="this.src='/assets/images/no-image.png'" 
                        *ngIf="media.media && media.media[0].type === 'photo'"  
                        style="height: 250px;" 
                        class='img-thumbnail' 
                        src="{{userUrl + '/' + media.media[0].url}}" 
                    >

                    <video 
                        controls 
                        *ngIf="media.media && media.media[0].type === 'video' && media?.media[0]?.thumbnails" 
                        poster="{{userUrl + '/' +  media?.media[0]?.thumbnails[0] }}"
                        style="height: 245px;" 
                        class='img-thumbnail' 
                        src="{{userUrl + '/' + media.media[0].url}}" >
                    </video>

                    <video 
                        controls 
                        *ngIf="media.media && media.media[0].type === 'video' && !media?.media[0]?.thumbnails" 
                        style="height: 245px;" 
                        class='img-thumbnail' 
                        src="{{userUrl + '/' + media.media[0].url}}" >
                    </video>

                    <div style="margin-top:5px;"> </div>
                    <hr class="ui-widget-content" style="border-top:0;margin-bottom: 5px;margin-top: 5px;">
                    <i class="fa fa-trash" (click)='deleteMedia(media.id)' tooltipPosition="top" pTooltip="Delete" ></i>
                </p-panel>
            </div>

        </ng-template>

        <p-footer>
            <div *ngIf='loading' class="ui-helper-clearfix">
                <div class="ui-g center-child-in-laptop">
                    <img src="/assets/images/ajax-loader.gif" class="img-responsive" alt="Image">
                </div>
            </div>
            <div *ngIf='!loading' class="ui-helper-clearfix">
                <div class="ui-g center-child-in-laptop">
                    <p style="margin-bottom: 0;padding-bottom: 0" class="lead">
                        {{ 'Media Length : ' + mediasLength }}
                    </p>
                </div>
            </div>
        </p-footer>

    </p-dataGrid>

</div>

<button class="scroll-top-btn" (click)='scrollToTop()' pButton type="button" icon="fa-chevron-up" ></button>
