.fa-trash
{
    cursor:pointer;color:red;font-size: 22px
}


/* paginator */
::ng-deep .view-user-profile-media .ui-paginator.ui-paginator .fa
{
    color: #6edd19
}
::ng-deep .view-user-profile-media .ui-paginator.ui-paginator .fa-caret-down
{
    color: #fff;
    margin-top: 5px;
}
::ng-deep .view-user-profile-media .ui-paginator .ui-corner-right
{
    background: #6edd19 ;
    border: 0
}
::ng-deep .view-user-profile-media  .ui-paginator .ui-corner-right:hover
{
    background: #57c304 !important;
    border: 0
}
/* change rows length */
::ng-deep .view-user-profile-media .ui-paginator .ui-dropdown-items.ui-dropdown-list .ui-corner-all,
::ng-deep .view-user-profile-media .ui-paginator label.ui-dropdown-label
{
    color: #6edd19 ;
    transition: all 0.5s  ease;
    -webkit-transition: all 0.5s  ease;;
    -moz-transition: all 0.5s  ease;;
    -o-transition: all 0.5s  ease;;
    transition: all 0.5s  ease;
}
::ng-deep .view-user-profile-media .ui-paginator .ui-dropdown-items.ui-dropdown-list .ui-corner-all:hover
{
    color: #6edd19 ;
    padding-left: 9px;
}
::ng-deep .view-user-profile-media .ui-paginator .ui-corner-all.ui-state-highlight
{
    background: #6edd19;
    color: #FFF !important;
}
::ng-deep .view-user-profile-media .ui-paginator .ui-dropdown.ui-state-focus
{
    box-shadow: 0 0 5px #6edd19 !important;
}
::ng-deep .view-user-profile-media  .ui-paginator .ui-paginator-page.ui-state-active
{
    background: #6edd19;
    border-color: #6edd19 !important;
}
::ng-deep .view-user-profile-media  .ui-paginator a {
    color: #6edd19;
    font-weight: 500;
}
::ng-deep .view-user-profile-media  .ui-paginator a:not(.ui-state-active):hover {
    color: #6edd19 !important;
    font-weight: 500;
}
 
