.list-group-item 
{
    position: relative;
    padding-top: 20px;
}
.list-group-item img
{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #6edd19;
    padding: 3px;
}
.list-group-item .name-and-number
{
    margin-left: -20px;
    color: #746766;
}
.list-group-item .name-and-number > div
{
    margin-top: 10px;
    
}
.list-group-item .name-and-number strong
{
    display: inline-block;
    width: 50px; 
}
.list-group-item .name-and-number .fa
{
    color: #6edd19;
    margin-right: 9px;
    font-size: 18px;
}
.list-group-item .fa-trash
{
    position: absolute;
    right: 15px;
    top: 13px;
    color: red;
    font-size: 25px;
    cursor: pointer;
}

.list-group-item .fa-star
{
    position: absolute;
    right: 15px;
    top: 45px;
    font-size: 20px;
}
.list-group-item button[icon=fa-user]
{
    position: absolute;
    right: 8px;
    top: 73px;
    background: #6edd19;
    border-color: #6edd19;
}
.list-group-item button[icon=fa-user]:hover
{
    background: #57c304;
    border-color: #57c304;
}


