<p-dataList 
  [value]="contacts" 
  emptyMessage=''
>
  <p-header>
    Contacts
  </p-header>

  <ng-template let-contact pTemplate="item">
    <div class="row">
      <div class="col-md-8 col-md-offset-2" style="padding-top:20px;">
        
          <ul class="list-group">
              <li class="list-group-item" >
                <div class="row">

                  <!-- image -->
                  <div class="col-md-3 col-xs-4 text-center">
                      <img 
                      class='img-thumbnail' 
                      onError="this.src='/assets/images/no-image.png'" 
                      src="{{ contact.isUser  && contact?.user.profileImage  ? (userUrl + '/' + contact.user.profileImage) : '/assets/images/no-user-image.png'}}" 
                      alt="profile image">
                  </div>
                  <!-- ./image -->

                  <!-- name-and-number -->
                  <div class="col-md-9 col-xs-8 name-and-number">
                    
                    <!-- name -->
                    <div class="col-md-12">
                        <i class="fa fa-user"></i>
                        <strong>
                          Name :
                        </strong>
                        <span>
                          {{ contact.contactName }}
                        </span> 
                    </div>

                    <!-- phone -->
                    <div class="col-md-12">
                        <i class="fa fa-phone"></i>
                        <strong>
                          Phone :
                        </strong>
                        <span>
                          {{  contact.mobileNumber }}
                        </span> 
                    </div>
                  </div>
                  <!-- ./name-and-number -->

                  <!-- icons -->
                  <i (click)='deleteContact(contact.contactName , contact.mobileNumber )'class="fa fa-trash" tooltipPosition="right" pTooltip="Delete"></i>
                  <i class="fa fa-star" tooltipPosition="right" pTooltip="Favorite"  [ngStyle]="{color: contact.isFavourite ? 'gold' : 'gray'}"></i>
                  <button *ngIf='contact.isUser' tooltipPosition="right" pTooltip="View profile"  pButton type="button" [routerLink]="['/view-users', contact.userId]" icon="fa-user" ></button>
                  <button *ngIf='!contact.isUser' disabled='true'  pButton type="button"  icon="fa-user" ></button>
                
                </div>
              </li>
          </ul>
      </div>
    </div>
  </ng-template>

</p-dataList>


<button class="scroll-top-btn" (click)='scrollToTop()' pButton type="button" icon="fa-chevron-up" ></button>
