<div 
    infiniteScroll
    [infiniteScrollDistance]="2" 
    [infiniteScrollUpDistance]="2" 
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
>

    <p-dataGrid 
        [value]="advertisements" 
        [paginator]="false" 
        emptyMessage=''
        styleClass="view-advertisements"
        >
            
        <p-header>
            <div class="ui-helper-clearfix">
                <div class="ui-g">
                    
                    <div class="ui-g-12 ui-md-4 ">
                        
                    </div>
                    
                    <div class="center-child-in-phone ui-g-12 ui-md-4 view-advertisements-search">
                        <div class="ui-inputgroup">
                            <input type="text" pInputText placeholder="Search" [(ngModel)]="searchModel" (keyup)='searchKeyUp($event)' >
                            <button pButton type="button" icon="fa-search"  (click)="Search()" *ngIf='!searchMode' ></button>
                            
                            <button pButton type="button" icon="fa-close" (click)="closeSearch()"  *ngIf='searchMode' ></button>
                        </div>
                    </div>

                    <div class="center-child-in-phone ui-g-12 ui-md-4 add-new-advertisements-icon" style="text-align:right">
                        <button [routerLink]="['/advertisements/employees/add']" routerLinkActive="router-link-active"  pButton type="button" icon="fa-plus"  style="margin-top:0" label='Add'></button>
                    </div>

                </div>
            </div>
        </p-header>

        <ng-template let-advertisement pTemplate="item">

            <div style="padding:10px 5px" class="ui-g-12 ui-md-4">
                <p-panel  [header]='"Client Name"' [style]="{'text-align':'center'}">
                    
                    <img  class='img-thumbnail advertisements-img' src="/assets/admin-lte-img/photo2.png" >
                    
                    <div class="item"> 
                        <i class="fa fa-usd"></i>
                        <strong>
                            Price :
                        </strong>
                        200
                    </div>
                    <div class="item"> 
                        <i class="fa fa-qrcode"></i>
                        <strong>
                            ID :
                        </strong>
                            15181518151
                    </div>
                
                    <hr class="ui-widget-content" style="border-top:0;margin-bottom: 5px;margin-top: 5px;">

                    <div class="view-advertisements-click-icon">
                        <button [routerLink]="['/advertisements/employees', 'advertisement_id']" tooltipPosition="top" pTooltip="View" pButton type="button" icon="fa-eye"  style="margin-top:0"></button>
                    </div>

                </p-panel>
            </div>

        </ng-template>

        <p-footer>
            <div  *ngIf='loading' class="ui-helper-clearfix">
                <div class="ui-g center-child-in-laptop">
                    <img src="/assets/images/ajax-loader.gif" class="img-responsive" alt="Image">
                </div>
            </div>
            <div  *ngIf='!loading' class="ui-helper-clearfix">
                <div class="ui-g center-child-in-laptop">
                    <p style="margin-bottom: 0;padding-bottom: 0" class="lead">
                        {{ 'Advertisements Length : ' + advertisementsLength }}
                    </p>
                </div>
            </div>
        </p-footer>

    </p-dataGrid>


</div>

<button class="scroll-top-btn" (click)='scrollToTop()' pButton type="button" icon="fa-chevron-up" ></button>

