<div class="limiter">
    <div class="container-login100">
        <form  role="form" [formGroup]='addEmployeeForm' (submit)='onSubmit()' class="login100-form validate-form">
            <!-- row -->
            <div class="row">
                

                <!-- title -->
                <div class="col-md-12">
                    <h3 class="add-employee-title text-center">
                        Employee Details
                    </h3>
                </div>

                <!-- firstName -->
                <div class="col-md-6">
                    <div class="wrap-input100 " >
                        <input  autocomplete="off" formControlName='firstName' class="input100" type="text" placeholder="First Name">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                    </div>
                    <span 
                        class="input-error" 
                        [ngStyle]="{'visibility': 
                            addEmployeeForm.controls.firstName.invalid && 
                            addEmployeeForm.controls.firstName.touched ? 'visible' : 'hidden'}" 
                        >
                        <i class="fa fa-exclamation-circle"></i>
                        <span>
                            First Name is {{ getErrorMsg(addEmployeeForm.controls.firstName.errors)}}
                        </span>
                    </span>
                </div>

                <!-- Last Name -->
                <div class="col-md-6">
                    <div class="wrap-input100 " >
                        <input  autocomplete="off" formControlName='lastName' class="input100" type="text" placeholder="Last Name">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                    </div>
                    <span 
                        class="input-error" 
                        [ngStyle]="{'visibility': 
                            addEmployeeForm.controls.lastName.invalid && 
                            addEmployeeForm.controls.lastName.touched ? 'visible' : 'hidden'}" 
                        >
                        <i class="fa fa-exclamation-circle"></i>
                        <span>
                            Last Name is {{ getErrorMsg(addEmployeeForm.controls.lastName.errors)}}
                        </span>
                    </span>
                </div>

                <!-- email -->
                <div class="col-md-6">
                    <div class="wrap-input100 " >
                        <input  autocomplete="off" formControlName='email' class="input100" type="text" placeholder="Email">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>
                    <span 
                        class="input-error" 
                        [ngStyle]="{'visibility': 
                            addEmployeeForm.controls.email.invalid && 
                            addEmployeeForm.controls.email.touched ? 'visible' : 'hidden'}" 
                        >
                        <i class="fa fa-exclamation-circle"></i>
                        <span>
                            Email is {{ getErrorMsg(addEmployeeForm.controls.email.errors)}}
                        </span>
                    </span>
                </div>

                <!-- mobileNumber -->
                <div class="col-md-6">
                <div class="wrap-input100 " >
                        <input  autocomplete="off" formControlName='mobileNumber' class="input100" type="text" placeholder="Mobile Number">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </span>
                    </div>
                    <span 
                        class="input-error" 
                        [ngStyle]="{'visibility': 
                            addEmployeeForm.controls.mobileNumber.invalid && 
                            addEmployeeForm.controls.mobileNumber.touched ? 'visible' : 'hidden'}" 
                        >
                        <i class="fa fa-exclamation-circle"></i>
                        <span>
                            Phone is {{ getErrorMsg(addEmployeeForm.controls.mobileNumber.errors)}}
                        </span>
                    </span>
                </div>

                <!-- gender -->
                <div class="col-md-6">
                    <div class=" gender wrap-input100 " >
                        <p-dropdown 
                        [options]="genders" 
                        [style]="{'min-width':'100%'}"
                        formControlName='gender'
                        placeholder="Gender"
                        ></p-dropdown>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-superpowers" aria-hidden="true"></i>
                        </span>
                    </div>
                    <span 
                        class="input-error" 
                        [ngStyle]="{'visibility': 
                            addEmployeeForm.controls.gender.invalid && 
                            addEmployeeForm.controls.gender.touched ? 'visible' : 'hidden'}" 
                        >
                        <i class="fa fa-exclamation-circle"></i>
                        <span>
                            Gender is {{ getErrorMsg(addEmployeeForm.controls.gender.errors)}}
                        </span>
                    </span>
                </div>

                <!-- groups -->
                <div class="col-md-6">
                <div class="add-employees-permissions wrap-input100 " >
                    <p-multiSelect 
                        [maxSelectedLabels]='1'
                        formControlName='groups' 
                        [options]="groups" 
                        [panelStyle]="{minWidth:'100%'}"
                        filterPlaceHolder='Search'
                        [style]="{width: '100%'}"
                        defaultLabel='Choose Groups'
                        scrollHeight='170px'
                        >
                    </p-multiSelect>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-tasks" aria-hidden="true"></i>
                    </span>
                </div>
                <span 
                    class="input-error" 
                    [ngStyle]="{'visibility': 
                        addEmployeeForm.controls.groups.invalid && 
                        addEmployeeForm.controls.groups.touched ? 'visible' : 'hidden'}" 
                    >
                    <i class="fa fa-exclamation-circle"></i>
                    <span>
                        Groups is {{ getErrorMsg(addEmployeeForm.controls.groups.errors)}}
                    </span>
                </span>
                </div>

                <!-- roles -->
                <div class="col-md-6">
                    <div class="add-employees-permissions wrap-input100 " >
                        <p-multiSelect
                            [maxSelectedLabels]='1'
                            formControlName='roles' 
                            [options]="roles" 
                            [panelStyle]="{minWidth:'100%'}"
                            filterPlaceHolder='Search'
                            [style]="{width: '100%'}"
                            defaultLabel='Choose Roles'
                            scrollHeight='170px'
                            >
                        </p-multiSelect>
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-key" aria-hidden="true"></i>
                        </span>
                    </div>
                    <span 
                        class="input-error" 
                        [ngStyle]="{'visibility': 
                            addEmployeeForm.controls.roles.invalid && 
                            addEmployeeForm.controls.roles.touched ? 'visible' : 'hidden'}" 
                    >
                        <i class="fa fa-exclamation-circle"></i>
                        <span>
                            Roles is {{ getErrorMsg(addEmployeeForm.controls.roles.errors)}}
                        </span>
                    </span>
                </div>

                <!-- salary -->
                <div class="col-md-6">
                    <div class="wrap-input100 " >
                        <input  autocomplete="off" formControlName='salary' class="input100" type="text" placeholder="Salary">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-usd" aria-hidden="true"></i>
                        </span>
                    </div>
                    <span 
                        class="input-error" 
                        [ngStyle]="{'visibility': 
                            addEmployeeForm.controls.salary.invalid && 
                            addEmployeeForm.controls.salary.touched ? 'visible' : 'hidden'}" 
                        >
                        <i class="fa fa-exclamation-circle"></i>
                        <span>
                            Salary is {{ getErrorMsg(addEmployeeForm.controls.salary.errors)}}
                        </span>
                    </span>
                </div>

                <!-- password -->
                <div class="col-md-6 col-md-offset-3">
                    <div class="wrap-input100 " >
                        <i class="fa fa-eye" (mouseenter)='pa.type="text"' (mouseleave)='pa.type="password"'></i>
                        <input #pa  formControlName='password' class="input100" type="password" placeholder="Password">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>
                    <span 
                        class="input-error" 
                        [ngStyle]="{'visibility': 
                            addEmployeeForm.controls.password.invalid && 
                            addEmployeeForm.controls.password.touched ? 'visible' : 'hidden'}" 
                        >
                        <i class="fa fa-exclamation-circle"></i>
                        Password Is {{ getErrorMsg( addEmployeeForm.controls.password.errors)}}
                    </span>
                </div>
                    
                <!-- btn -->
                <div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
                    <div class="container-login100-form-btn">
                        <button 
                            type="submit"
                            class="login100-form-btn" 
                        >
                            Save
                        </button>
                    </div>
                </div>
            



            </div>
            <!-- ./row -->
        </form>
    </div>
</div>