/* toggle password */
.fa-eye:hover 
{
  color: #6edd19;
}
.fa-eye
{
    position: absolute;
    top: 15px;
    right: 19px;
    z-index: 2;
    font-size: 17px;
    cursor: pointer;
}

/* error */
.input-error
{
  margin-left: 22px;
  color: red
}
.input-error .fa
{
  font-size: 14px;
  padding-right: 2px;
}

 

/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #57b846;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #999999;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #666666;
}


/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
  background: white;
  border-radius: 7px;
}

.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}



/*------------------------------------------------------------------
[  ]*/
.login100-pic {
  width: 316px;
}

.login100-pic img {
  max-width: 100%;
}


/*------------------------------------------------------------------
[  ]*/
.login100-form {
  width: 100%;
}

.login100-form-title {
  font-family: Poppins-Bold;
  font-size: 24px;
  color: #fff;
  line-height: 1.2;
  text-align: center;

  width: 100%;
  display: block;
  padding-bottom: 54px;
}


/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  margin-top: 20px;
}


::ng-deep .container-login100 .input100 {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;

  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
}


/*------------------------------------------------------------------
[ Focus ]*/
.focus-input100 {
  display: block;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 0px 0px;
  color: #6edd19;
}

.input100:focus + .focus-input100 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    box-shadow: 0px 0px 70px 25px;
    opacity: 0;
  }
}

.symbol-input100 {
  font-size: 15px;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
  color: #6edd19;
  padding-left: 28px;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 35px;
}

.login100-form-btn {
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;

  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #6edd19;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background: #57b846;
}



/*------------------------------------------------------------------
[ Responsive ]*/



@media (max-width: 992px) {
  .wrap-login100 {
    padding: 177px 90px 33px 85px;
  }

  .login100-pic {
    width: 35%;
  }

  .login100-form {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .wrap-login100 {
    padding: 100px 80px 33px 80px;
    width: 100%
  }

  .login100-pic {
    display: none;
  }

  .login100-form {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 100px 15px 33px 15px;
  }
}




/*
  gender
*/
.gender ::ng-deep .ui-dropdown
{
  background: #DDD !important;
  padding: 9px !important;
  border-radius: 22px;
}
.gender ::ng-deep .ui-dropdown label
{
  background: #DDD !important;
  color: #6c6666 !important;
  padding-left: 60px !important;
}
.gender ::ng-deep .ui-dropdown .ui-dropdown-trigger-icon
{
  padding-top: 4px;
}
.gender ::ng-deep .ui-state-focus
{
  box-shadow: 0 0 5px #6edd19;
}
.gender ::ng-deep .ui-corner-right
{
  padding-top: 10px;
  background: transparent;
  padding-right: 27px;
}
.gender  ::ng-deep .ui-dropdown-item.ui-corner-all
{
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  color: #6edd19;
  transition: padding 0.5s  ease;
  -webkit-transition: padding 0.5s  ease;;
  -moz-transition: padding 0.5s  ease;;
  -o-transition: padding 0.5s  ease;;
}
.gender  ::ng-deep .ui-dropdown-item.ui-state-highlight
{
  color: #FFF;
  background: #6edd19;
}
.gender  ::ng-deep .ui-dropdown-item.ui-corner-all:not(.ui-state-highlight):hover
{
  color: #6edd19;
  padding-left: 17px
}



/*
 roles and groups
*/
::ng-deep .add-employees-permissions .ui-multiselect.ui-widget.ui-state-default.ui-corner-all
{
    padding: 10px 0px 5px 30px;
    border-radius: 27px;
    background: #e6e6e6 ;
}
::ng-deep .add-employees-permissions .ui-state-focus
{
    box-shadow: 0px 0px 8px #6edd19 !important;
}
::ng-deep .add-employees-permissions .ui-multiselect-trigger.ui-state-default.ui-corner-right
{
    padding-top: 10px;
    background: transparent;
    padding-right: 27px
}
::ng-deep .add-employees-permissions .ui-multiselect-label-container
{
    width: 98%;
}
::ng-deep .add-employees-permissions .ui-multiselect-label.ui-corner-all
{
    background: #e6e6e6;
    margin-left: 33px;
    color: #6c6666;
}
/* icon ckeck */
::ng-deep .add-employees-permissions .ui-chkbox-box.ui-widget.ui-corner-all.ui-state-default.ui-state-active
{
    border: 1px solid #6edd19;
    background: #6edd19;
    color: #FFFFFF;
}
/* item */
::ng-deep .add-employees-permissions .ui-state-highlight
{
    background: #6edd19
}

/* padding in hover */
::ng-deep .add-employees-permissions .ui-multiselect-panel .ui-multiselect-item label
{
    color: #6edd19;
    margin-bottom: 5px;
    padding-top: 6px;
    margin-left: 4px;
    transition: padding 0.5s  ease;
    -webkit-transition: padding 0.5s  ease;;
    -moz-transition: padding 0.5s  ease;;
    -o-transition: padding 0.5s  ease;;
}
::ng-deep  .add-employees-permissions .ui-multiselect-panel .ui-multiselect-item:hover label
{
    padding-left: 7px;
}
::ng-deep .add-employees-permissions .ui-multiselect-panel .ui-multiselect-item.ui-state-highlight label
{
    color: #FFF
}
::ng-deep .add-employees-permissions .ui-multiselect-filter-container input:focus
{
  box-shadow: 0 0 7px #6edd19
}
 


/* title */
.add-employee-title
{
  margin-bottom: 15px;
  font-weight: bold;
  letter-spacing: .5px;
  margin-top: 30px;
}