

<!-- advertisement -->
<div class="row view-profile ">
    
    <div class="col-md-12">

        <!-- user   -->
        <div class="panel panel-default ">

            <div class="panel-heading">
                <h2 class="panel-title text-center"> 
                    Advertisement Name  
                <i class="fa fa-trash" tooltipPosition="left" pTooltip="Delete advertisement" ></i>
                </h2>
            </div>

            <!-- panel -->
            <div class="panel-body">
                <div class="row">
                    
                    <!-- image -->
                    <div class=" col-md-12 text-center">
                        <div class="advertisement-details-parent-image">
                            <img class='img-thumbnail' src="/assets/admin-lte-img/photo2.png" alt="profile image">
                        </div>
                        <div  class="upload-advertisement-image col-xs-12 col-xs-offset-0 col-md-6 col-md-offset-3 center-child-in-laptop">
                            <p-fileUpload 
                                #form
                                customUpload="true" 
                                (uploadHandler)="addImage($event , form )"
                                mode="basic" 
                                accept="image/*" 
                                maxFileSize="1000000" 
                                auto="true" 
                                chooseLabel='Add Image'
                                >
                            </p-fileUpload>
                        </div>
                    </div>
                    

                    <!-- list info -->
                    <div class=" col-md-8 col-md-offset-2 col-xs-12 col-xs-offset-0 ">
                        <ul class="list-group">

                            <!-- Name -->
                            <li class="list-group-item">
                            <div >
                                <i class="fa fa-buysellads"></i>  
                                <strong >Name : </strong> 
                                <div *ngIf="edit.name" class="ui-inputgroup">
                                    <input type="text" value="" pInputText >
                                    <button  pButton pTooltip="Save" type="button" icon="fa-edit" class="ui-button-primary"></button>      
                                </div>
                                <span *ngIf="!edit.name">
                                    Cars
                                </span>
                            </div>
                            <i class="fa fa-edit"  tooltipPosition="top" pTooltip="Edit" (click)='edit.name = !edit.name'></i>
                        </li>

                        <!-- Price -->
                        <li class="list-group-item">
                            <div >
                                <i class="fa fa-usd"></i>  
                                <strong style="width: 50px;">Price : </strong> 
                                <div *ngIf="edit.price" class="ui-inputgroup">
                                    <input type="text" value="" pInputText >
                                    <button  pButton pTooltip="Save" type="button" icon="fa-edit" class="ui-button-primary"></button>      
                                </div>
                                <span *ngIf="!edit.price">
                                    200 $
                                </span>
                            </div>
                            <i class="fa fa-edit"  tooltipPosition="top" pTooltip="Edit" (click)='edit.price = !edit.price'></i>
                        
                        </li>
                    
                        <!-- distance -->
                        <li class="list-group-item">
                            <div >
                                <i class="fa fa-map-marker"></i>  
                                <strong style="width: 70px;">Distance : </strong> 
                                <div *ngIf="edit.distance" class="ui-inputgroup">
                                    <input type="text" value="" pInputText >
                                    <button  pButton pTooltip="Save" type="button" icon="fa-edit" class="ui-button-primary"></button>      
                                </div>
                                <span *ngIf="!edit.distance">
                                    200 KM 
                                </span>
                            </div>
                            <i class="fa fa-edit"  tooltipPosition="top" pTooltip="Edit" (click)='edit.distance = !edit.distance'></i>
                        
                        </li>
                            
                        <!-- Code -->
                        <li class="list-group-item">
                            <div >
                                <i class="fa fa-qrcode"></i>  
                                <strong>Code : </strong> 
                                <span >
                                    2518181515 
                                </span>
                            </div>
                        </li>

                        <!-- Body -->
                        <li class="advertisement-details list-group-item">
                            <div class="resetRow row">
                                <div class="col-md-12">

                                    <div class="col-md-12">
                                        <p class="text-center">
                                            <i class="fa fa-align-left" style="color: #6edd19;padding-right: 5px;"></i>Body
                                        </p> 
                                    </div>

                                    <div class="col-md-12">
                                        <p class="advertisement-body">
                                            text text text text text text text text text text text text 
                                            text text text text text text text text text text text text 
                                            text text text text text text text text text text text text 
                                            text text text text text text text text text text text text 
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </li>


                        </ul>
                    </div>
                    <!-- ./list info -->


                </div>
            </div>
            <!-- ./panel -->

        </div>
        <!-- ./user   -->

    </div>
</div>
<!-- ./advertisement -->

<!-- tap -->
<p-tabView styleClass='tap-view-all'>

    <p-tabPanel header="Views & clicks" leftIcon="fa-pie-chart" >
        <ng-template pTemplate="content">
            <div class="tap-body">
                <app-employees-advertisements-charts></app-employees-advertisements-charts>
            </div>
        </ng-template>
    </p-tabPanel>

    <p-tabPanel header="Views By Age" leftIcon="fa-pie-chart" >
        <ng-template pTemplate="content">
            <div class="tap-body">
                <!-- <app-advertisement-map></app-advertisement-map> -->
                <app-employees-advertisements-charts2></app-employees-advertisements-charts2>
            </div>
        </ng-template>
    </p-tabPanel>

    <p-tabPanel header="Views By Religion" leftIcon="fa-pie-chart" >
        <ng-template pTemplate="content">
            <div class="tap-body">
                <!-- <app-advertisement-map></app-advertisement-map> -->
                <app-employees-advertisements-charts3></app-employees-advertisements-charts3>
            </div>
        </ng-template>
    </p-tabPanel>

    <p-tabPanel header="Map"  leftIcon="fa-globe" >
        <ng-template pTemplate="content">
            <div class="tap-body">
                <app-employees-advertisement-map></app-employees-advertisement-map>
            </div>
        </ng-template>
    </p-tabPanel>

</p-tabView>
<!-- ./tap -->


