

.resetRow
{
    width: 100% !important;
    margin-left: 0 !important;
}


/* tap body */
.tap-body 
{
    min-height: 500px;
}


/* image */
.advertisement-details-parent-image
{
    width: 300px;
    margin: auto;
}
.advertisement-details-parent-image .img-thumbnail  
{
    width: 300px;
    margin-top: 15px;
    margin-bottom: 20px;
    /* border-radius: 50%; */
    border: 2px solid #6edd19;
    padding: 2px;
}



/* view client profile */
::ng-deep .advertisement-details.list-group-item button.ui-widget.ui-button
{
    margin-top: 0;
    position: absolute;
    right: 7px;
    top: 6px;
    background: #6edd19 ;
    border-color: #6edd19; 
}
::ng-deep .advertisement-details.list-group-item button:hover
{
    background: #57c304 !important;
    border-color: #57c304 !important;
}



/* save advertisements */
.replay-new-advertisements 
{
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    
    justify-content: center;
    align-items: center;
}
.replay-new-advertisements button:nth-child(1)
{
    margin-top: 0;
    border-radius: 22px;
    padding: 6px 30px;
    border-color:#6edd19;
    background: #6edd19;
}
.replay-new-advertisements button:hover:nth-child(1)
{
    border-color:#57c304 !important;
    background: #57c304 !important;
}
.replay-new-advertisements button:nth-child(2)
{
    margin-top: 0;
    border-radius: 22px;
    padding: 6px 30px;
    border-color:red;
    background: red;
}
.replay-new-advertisements button:hover:nth-child(2)
{
    border-color:#d41414 !important;
    background: #d41414 !important;
}
::ng-deep .replay-new-advertisements button .fa
{
    margin-left: 29px;
}



/*  advertisement body*/
.advertisement-body
{
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px solid #6edd19;
    margin-left: 10px;
}




/* upload image */
::ng-deep .upload-advertisement-image
{
    margin-bottom: 25px;
}
.upload-advertisement-image ::ng-deep.ui-widget.ui-button
{
    background: #6edd19;
    border-color: #6edd19;
    padding: 3px;
}
.upload-advertisement-image ::ng-deep.ui-widget.ui-button:hover
{
    background: #57c304;
    border-color: #57c304;
}
