 
/* image */
::ng-deep  .view-advertisements .advertisements-img
{
    border: 2px solid #6edd19;
    padding: 3px;
    margin-bottom: 6px;
}

/* view advertisements icon (in right) */
::ng-deep  .view-advertisements .view-advertisements-click-icon .ui-button
{
    background: #6edd19 !important;
    border-color: #6edd19 !important;
    height: 33px;
    width: 39px;
}
::ng-deep  .view-advertisements .view-advertisements-click-icon .ui-button:hover
{
    background: #57c304 !important;
    border-color: #57c304 !important;
}

::ng-deep .view-advertisements  .view-advertisements-click-icon .fa-eye
{
    font-size: 22px !important;
}



/* data in panal  */
::ng-deep .view-advertisements .item 
{
    text-align: left !important;
    margin-top: 5px;
    color: #696666 !important;
    margin-left: 15px;
}

::ng-deep .view-advertisements .item strong 
{
    display: inline-block;
    width: 50px;
    margin-left: 5px;
}
::ng-deep .view-advertisements .item .fa
{
    text-align: center;
    width: 20px;
    font-size: 17px;
    color: #6edd19;
} 



/* search users */
.view-advertisements-search .ui-inputtext,
.view-advertisements-search .ui-inputgroup .ui-inputtext:not(:last-child)
{
    padding: 9px;
    border-radius: 22px;
    width: 230px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    padding-left: 15px;
    border: 0;
}
.view-advertisements-search .ui-inputtext:focus,
.view-advertisements-search .ui-inputgroup .ui-inputtext:not(:last-child):focus
{
    box-shadow: 0 0 5px #6edd19;
}
.view-advertisements-search .ui-button.ui-widget 
{
    padding: 7px;
    border-radius: 0 22px 22px 0px;
    padding-right: 30px;
    margin-left: -37px;
    border: 0px solid #d6d6d6;
}
/* search */
.view-advertisements-search .ui-button.ui-widget[icon=fa-search]
{
    background: #6edd19;
}
.view-advertisements-search .ui-button.ui-widget[icon=fa-search]:hover
{
    background: #57c304 !important;
    border: 0
}
/* close */
.view-advertisements-search .ui-button.ui-widget[icon=fa-close]
{
    background: red;
}
.view-advertisements-search .ui-button.ui-widget[icon=fa-close]:hover
{
    background: #d41414 !important;
}


/* add advertisements */
.add-new-advertisements-icon button
{
    margin-top: 0;
    border-radius: 22px;
    padding: 6px 30px;
    border-color:#6edd19;
    background: #6edd19;
}
.add-new-advertisements-icon button:hover
{
    border-color:#57c304;
    background: #57c304
}
::ng-deep .add-new-advertisements-icon button .fa
{
    margin-left: 29px;
}



